@{
    ViewData["Title"] = "Home Page";
}
<head>
</head>
<body>
<p class="lead text-center">Merhaba Ben Ahmed Faruk Toker. 9 Kasım 2004 de Manisa Merkezde doğdum. 2010 da Ankara'ya tanışındım. İlkokulu Sağlık İşçileri Sendikası İlköğretim OKulunda okudum. 4.Sınıfta Turhan Feyzioğlu İlkokuluna geçiş yaptım. Ortaokulu Tevfik İleri İmam Hatip OrtaOkulunda okudum. Lisenin ilk yılını Özel Harekat Şehitleri Anadolu İmam Hatip Lisesinde son 3 yılı ise Uluslararası Prof. Dr. Muhammed Hamidullah Anadolu İmam Hatip Lisesi'nde okudum ve mezun oldum. Şuan ise Kırıkkale Üniversitesi Bilgisayar Programcılığı 1.sınıf öğrencisiyim. Bu web sitesi dönem bitirme projemdir. Ankara, Türkiye'nin başkenti ve kültürel, tarihi açıdan önemli bir şehir olarak, geçmişten günümüze birçok medeniyete ev sahipliği yapmıştır. Web sitem, bu eşsiz şehri keşfetmek isteyen yerli ve yabancı ziyaretçilere kapsamlı bir rehber sunmayı hedeflemektedir. Ankara'nın tarihi mekanlarından modern yaşamına, kültürel etkinliklerden sosyal yaşamına kadar geniş bir yelpazede bilgi sağlamaktayım. Sitem, şehri keşfetmek isteyen turistler, Ankara'da yaşamayı düşünenler veya eğitim için buraya gelen öğrenciler gibi farklı hedef kitlelere hitap etmektedir. Amacım, şehri ziyaret etmek isteyen herkese rehberlik etmek ve Ankara'nın sunduğu zenginlikleri daha yakından tanımalarına olanak sağlamaktır. Hem tarihi hem de modern yönleriyle Ankara'yı daha derinlemesine keşfetmek isteyenler için faydalı bilgiler sunarak, şehirle ilgili merak edilen soruları cevaplıyorum.'</p>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>