@{
    ViewData["Title"] = "Home Page";
}

<body>

    <div class="container-fluid p-0" >
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active " data-bs-interval="3000">
                    <img class="d-block w-100" src="~/uploads/anitkabir.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Anıtkabir</h5>
                        <p>Türkiye Cumhuriyeti'nin kurucusu Atatürk'ün anıt mezarı.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img class="d-block w-100" src="~/uploads/atakule.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Atakule</h5>
                        <p>Ankara'nın modern simgelerinden biri.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img class="d-block w-100" src="~/uploads/meclis.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Eski Meclis</h5>
                        <p>Türkiye'nin kuruluşu burada yatıyor.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img class="d-block w-100" src="~/uploads/kglupark.jpg" alt="Fourth slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Kuğulu Park</h5>
                        <p>Ankara'nın doğa ile buluştuğu huzur dolu bir nokta.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="content">
        <div class="font-lora">
            <h1 class="display-3 text-center lead" style="color: blue;">HOŞGELDİNİZ</h1>
            <p class="text-center lead" style="font-size: 30px">Türkiye'nin başkenti Ankara, tarihi ve kültürel mirası ile öne çıkan bir metropoldür. Cumhuriyetin sembolü olan bu şehir, müzeleri, parkları ve anıtlarıyla ziyaretçilerine zengin bir deneyim sunar. Anadolu'nun kalbinde yer alan Ankara, modern yaşam ile tarihi dokunun mükemmel bir uyumunu sergiler. Bu sitemizde size Ankarayı tanıtmaya çalışcağım.</p>
            <p class="text-center lead" style="font-size: 30px">Türkiye'nin başkenti Ankara, idari ve siyasi merkezi olarak TBMM, Cumhurbaşkanlığı ve Bakanlıklar gibi devletin en üst düzey organlarına ev sahipliği yapmaktadır. İç Anadolu Bölgesi'nde yer alan ve deniz seviyesinden 938 metre yükseklikte bulunan Ankara, karasal iklimin etkisi altında olup yazları sıcak ve kurak, kışları ise soğuk ve karlı geçer. Tarihi boyunca Hititler, Frigler, Lidyalılar, Persler, Romalılar, Bizanslılar ve Osmanlılar gibi birçok medeniyete ev sahipliği yapan şehir, 1923 yılında Türkiye Cumhuriyeti'nin başkenti olmuştur. Nüfusu 2023 yılı verilerine göre yaklaşık 5.803.482 kişidir. Modern yaşam ile tarihi dokunun mükemmel bir uyumunu sergileyen Ankara, müzeleri, parkları ve anıtlarıyla kültürel zenginliğini gözler önüne serer. Gelişmiş bir ulaşım ağına sahip olan şehirde, Esenboğa Havalimanı uluslararası ve iç hat uçuşlarına hizmet verirken metro, otobüs ve banliyö hatları ile şehir içi ulaşım sağlanır. Eğitim alanında ODTÜ, Hacettepe, Ankara Üniversitesi gibi önde gelen üniversiteleri barındıran Ankara, aynı zamanda kamu hizmetleri, sanayi, ticaret, eğitim ve sağlık sektörlerinde önemli ekonomik faaliyetlere sahiptir.</p>
        </div>
    </div>
</body>
