@{
}
<head>
    <style>
        .custom-image {
            width: 600px;
            height: auto;
        }

        .hr-line {
            border-top: 3px solid #ddd;
            margin: 2rem 0;
            width: 80%;
            margin-bottom: 3rem;
            margin-top: 8rem;
        }
    </style>
</head>
<div class="d-flex justify-content-center">
    <img src="~/yemekresimleri/ankara-tava.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA TAVA</h2>
<p class="lead text-center">Ankara Tava ya da Ankara Tavası, Ankara mutfağına ait eski ve köklü bir yemek. Yerel yemeklerden biri olan bu lezzet,  genellikle etli ve sebzeli bir pilav veya şehriye yemeği olarak hazırlanır. Günümüzde tüketilen çeşitli varyasyonları olsa da ortak özellikleri, et ve sebzelerin kavrularak pişirilecek şehriye veya pilava eklenmesi. Etin suyu içerisinde fırında pişirilen pilav özellikle düğün ve cenaze gibi toplu buluşmaların olduğu yerlerde hazırlanır. Şehrin en popüler yemeklerinden biri olan Ankara Tava; cacık, turşu, salata ve hoşaf ile servis edilerek tüketilir.</p>
<p style="color:#1560BD">Yemek Tarifi :</p><a href="https://www.nefisyemektarifleri.com/tavuklu-ankara-tava-tencerede/" target="_blank">https://www.nefisyemektarifleri.com/tavuklu-ankara-tava-tencerede/</a>
<div class="hr-line"></div>

<div class="d-flex justify-content-center">
    <img src="~/yemekresimleri/Beypazari-guveci.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">BEYPAZARI GÜVECİ</h2>
<p class="lead text-center">Ankara’nın bir ilçesi olan Beypazarı, kendine ait yöresel bir mutfağa sahip. Beypazarı’nda hazırlanan ve günümüzde Ankara’nın en önemli yemeklerinden biri, Beypazarı Güveci. Kuşbaşı et, pirinç, tereyağı, domates, sivri biber ve su ile hazırlanan Beypazarı Güveci; et yemeği kategorisinde yer alır. Güveç adı verilen toprak kaplarda hazırlanan ve lezzetini de bu kaplardan alan Beypazarı Güveci, ağır ateşte pişer. Türk mutfağına ait önemli bir yemek olan Beypazarı Güveci, eski zamanlarda taş fırında pişiyor olsa da günümüzde fırınlarda pişirilen versiyonları da bulunuyor.</p>
<p style="color:#1560BD">Yemek Tarifi :</p><a href="https://www.nefisyemektarifleri.com/beypazari-etli-guveci/" target="_blank">https://www.nefisyemektarifleri.com/beypazari-etli-guveci/</a>
<div class="hr-line"></div>


<div class="d-flex justify-content-center">
    <img src="~/yemekresimleri/ankara-simiti.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA SİMİDİ</h2>
<p class="lead text-center">Ankara denildiğinde akla gelen ilk hamur işi ürünlerden biri olan Ankara Simidi, Türkiye’nin diğer bölgelerinde üretilen simitlerden daha farklı özelliklere sahip. Normal simitlere göre daha ince, daha küçük ve yoğun pekmezli şekilde hazırlanan Ankara Simidi, renk olarak da daha koyudur. Ancak renginin koyuluğunun çok pişirilmesi ile ilgisi yok. İçerisinde yoğun olarak pekmez bulunması, renginin koyu olmasına neden oluyor. Büyük bir ustalık ile hazırlanan simit, hamur üzerine yapışan pekmez sayesinde eşsiz bir lezzete sahip.</p>
<p style="color:#1560BD">Yemek Tarifi :</p><a href="https://www.nefisyemektarifleri.com/citir-ankara-simidi-iste-simit/" target="_blank">https://www.nefisyemektarifleri.com/citir-ankara-simidi-iste-simit/</a>
<div class="hr-line"></div>


<div class="d-flex justify-content-center">
    <img src="~/yemekresimleri/Başlıksız.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">BAZLAMA KEBABI</h2>
<p class="lead text-center">Ankara’nın yöresel lezzetlerinden biri olan Bazlama Kebabı’nın en önemli özelliği, terbiyeli dana eti ile hazırlanıyor olması. Bunun yanı sıra domates, sivri biber, soğan ile hazırlanır ve kekik, karabiber ve tereyağı ile tatlandırılır. Un, maya ve tuz ile hazırlanan hamurun içine yerleştirilen harç; sos ile tamamlanır. Kendine ait farklı bir aroması olan ve lezzeti ile dikkat çeken Bazlama Kebabı, görüntüsü ile dikkat çeker. Düğünlerde ve kalabalık misafir gruplarının ziyaretlerinde yaygın olarak tercih edilen Bazlama Kebabı’nı Ankara’nın yerel restoranlarında deneyebilirsiniz.</p>
<p style="color:#1560BD">Yemek Tarifi :</p><a href="https://www.nefisyemektarifleri.com/bazlama-kebabi-3046433/" target="_blank">https://www.nefisyemektarifleri.com/bazlama-kebabi-3046433/</a>
<div class="hr-line"></div>



<div class="d-flex justify-content-center">
    <img src="~/yemekresimleri/çorba.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">İNCEĞİZ ÇORBASI</h2>
<p class="lead text-center">Geleneksel Ankara mutfağından bir yemek olan İnceğiz Çorbası, besleyici değeri yüksek bir lezzet. Besleyici değerinin yüksek olması, çorba olmasına rağmen özellikle yaz aylarında ana yemek olarak tüketilmesini sağlar. Çorba içerisinde haşlanmış nohut, buğday ve kuzu eti bulunur. Lezzetini veren ise margarin, semizotu sapı ve yoğurt. Terbiyeli olarak hazırlanan ve ustalık gerektiren bir çorba olduğu için dikkat çeker. İnceğiz Çorbası, kırmızı toz biber ile hazırlanan bir yağ ile servis edilir. Yerel halk tarafından büyük bir ilgi gören bu çorba, Ankara’da mutlaka denenmesi gereken lezzetlerin başında geliyor.</p>
<p style="color:#1560BD">Yemek Tarifi :</p><a href="https://www.nefisyemektarifleri.com/ankara-corbasi/" target="_blank">https://www.nefisyemektarifleri.com/ankara-corbasi/</a>
<div class="hr-line"></div>


<div class="d-flex justify-content-center">
    <img src="~/yemekresimleri/sarma.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">EFELEK SARMASI</h2>
<p class="lead text-center">
    Efelek Sarması ya da Efelek Dolması adı ile anılan bu yemek, Ankara’nın yöresel yemeklerinden biri. Efelek Sarması’nı Trakya gibi farklı illerde de görmek mümkün. Yine Ankara’da yapılan versiyonunun yerel halk tarafından yoğun bir ilgi gördüğünü dile getirmek yanlış olmaz.
    Efelek otu içerisine pirinç, kuru soğan, kıyma, salça ve baharatlar ile hazırlanan harcın yerleştirilmesiyle yapılan Efelek Sarması; aromatik ve farklı bir lezzete sahip. Lezzetini veren en önemli iki etken: efelek otu ve hazırlanma esnasında kullanılan yarım çorba kaşığı limon suyu.
</p>
<p style="color:#1560BD">Yemek Tarifi :</p><a href="https://www.nefisyemektarifleri.com/efelek-dolmasi/" target="_blank">https://www.nefisyemektarifleri.com/efelek-dolmasi/</a>
<div class="hr-line"></div>


<div class="d-flex justify-content-center">
    <img src="~/yemekresimleri/beypazari-kurusu.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">BEYPAZARI KURUSU</h2>
<p class="lead text-center">
    Ankara’nın Beypazarı ilçesine has bir lezzet olan Beypazarı Kurusu, kurabiye grubunda yer alır. İçerisinde un, süt, tereyağı ve tarçın bulunur. Genellikle çay ile servis edilen ve 2017 tarihinde coğrafi işaretli ürün olarak tescillenen bu kurabiye, sert ve çiğnemesi zor bir kurabiyedir.
    Beypazarı’nda üretilen Beypazarı Kurusu, bir yıl boyunca tazeliğini koruyabilir. Bölgede yaklaşık olarak yıllık iki bin ton üretim yapılır. Meşe odunları ile taş fırınlarda pişirilen ve pişirilmesinde den sonra 12 14 saat arası fırında bekletilerek kurutulan kurabiye, kendine ait farklı bir lezzete sahip.
</p>
<p style="color:#1560BD">Yemek Tarifi :</p><a href="https://www.nefisyemektarifleri.com/beypazari-kurusu/" target="_blank">https://www.nefisyemektarifleri.com/beypazari-kurusu/</a>
<div class="hr-line"></div>


<div class="d-flex justify-content-center">
    <img src="~/yemekresimleri/kapama.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">URUŞ KAPAMA</h2>
<p class="lead text-center">Ankara’ya ait yöresel lezzetler arasında bulunan ve kuzu kuşbaşı et ile hazırlanan Uruş Kapama, bölgenin en sevilen et yemeklerinden biri. İçerisinde kuşbaşı etin yanında sarımsak, arpacık soğan, salça, domates, pirinç ve nohut bulunur. Çeşitli baharatlar ile tatlandırılan ve küpeç adı verilen toprak kaplarda hazırlanan Uruş Kapama, ana yemek olarak tercih edilebilecek besleyici ve zengin bir yemek. Kendine ait özel kapında uzun süre pişiyor olması, bütün lezzetlerin birbirine karışmasını ve özgün bir tada sahip olmasını sağlar.</p>
<p style="color:#1560BD">Yemek Tarifi :</p><a href="https://www.nefisyemektarifleri.com/urus-kapama/" target="_blank">https://www.nefisyemektarifleri.com/urus-kapama/</a>
<div class="hr-line"></div>


<div class="d-flex justify-content-center">
    <img src="~/yemekresimleri/öllüğün.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ÖLLÜĞÜN KÖRÜ</h2>
<p class="lead text-center">
    Ankara mutfağında yer alan bir yemek olmasının yanı sıra kendine ait rivayetleri ile dikkat çeken Öllüğün Körü, son yıllarda sosyal medyada popüler olmuş bir tat. Ankara yemekleri arasında bulunan ve hamur işi tarifleri arasında yer alan bu lezzet; özellikle İmrahor, Dodurga, Karataş ve Mühye civarlarında yapılır. İçerisinde erişte, tereyağı, kıyma, ceviz ve maydanoz bulunur.
    Hazırlanması kolay bir yemek olmasına rağmen yoğun bir ilgi gören bu yemeği Ankara’nın yerel restoranlarında bulabilirsiniz. Yerel restoranlarda Öllüğün Körü adı verilen bu yemeği tadarken lezzeti ile ilgili rivayetleri dinleyebilir ve keyifli bir an yaşayabilirsiniz.
</p>
<p style="color:#1560BD">Yemek Tarifi :</p><a href="https://www.nefisyemektarifleri.com/ollugun-koru-yemegi-geleneksel-ankara-yemegi/" target="_blank">https://www.nefisyemektarifleri.com/ollugun-koru-yemegi-geleneksel-ankara-yemegi/</a>
<div class="hr-line"></div>


<div class="d-flex justify-content-center">
    <img src="~/yemekresimleri/entekke_boregi-58039d58-bf93-4a3f-b825-d64cc2416572.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ENTEKKE BÖREĞİ</h2>
<p class="lead text-center">Ankara yöresi ile özdeşleşmiş yemeklerden biri olan Entekke Böreği, kıymalı iç harcı ile dikkat çeken bir hamur işi. Görünümü kişiye andırıyor olsa da iç harcının farklı şekilde hazırlanmış olması hem ana yemek hem hamur işi olarak tercih edilmesini sağlar. Tıpkı pişi gibi kızartılarak servis edilir. İç harcında maydanoz, soğan, karabiber ve kıyma bulunur. Hamurun içine yerleştirilen harç kızgın yağda kızartılır ve sıcak şekilde sunulur. Kahvaltılarda ve akşam yemeklerinde tüketilebilecek bir hamur işi olan Entekke Böreği, kalorisi yüksek bir lezzet.</p>
<p style="color:#1560BD">Yemek Tarifi :</p><a href="https://www.lezzet.com.tr/yemek-tarifleri/hamurisi-tarifleri/borek-tarifleri/entekke-boregi" target="_blank">https://www.lezzet.com.tr/yemek-tarifleri/hamurisi-tarifleri/borek-tarifleri/entekke-boregi</a>
<div class="hr-line"></div>


<div class="d-flex justify-content-center">
    <img src="~/yemekresimleri/bici.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">BİCİ AŞI</h2>
<p class="lead text-center">Asma yaprağı ile hazırlanan ve Ankara’nın en sevilen yemeklerinden biri olan Bici Aşı; bulgur, sıvı yağ, soğan, salça ve sarımsak ile hazırlanır. Süzme yoğurt ile servis edilen ve hem lezzetli hem hafif bir yemek olan Bici Aşı, özellikle yaz aylarında yerel halk tarafından yoğun bir ilgi görür. Geçmiş yıllardan bu yana Ankara mutfağında yer alan ve görüntüsü ile ıspanağı andıran bu yemek asma yaprağı ile hazırlanıyor olması sebebiyle farklılığa sahip.</p>
<p style="color:#1560BD">Yemek Tarifi :</p><a href="https://www.nefisyemektarifleri.com/bici-asi/" target="_blank">https://www.nefisyemektarifleri.com/bici-asi/</a>
<div class="hr-line"></div>


<div class="d-flex justify-content-center">
    <img src="~/yemekresimleri/Tamtak-Tiridi-8-1024x576.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">TAMTAK TİRİDİ</h2>
<p class="lead text-center">Ankara’nın yöresel lezzetleri arasında bulunan ve tarihi çok eskilere dayanan Tamtak Tiridi, bir et yemeği. Günümüzde hem yerel halk hem şehre ziyarete gelen turistler tarafından yoğun bir ilgi görür. Kemikli etin haşlanarak tandır ekmeği ile buluşturulması ile hazırlanan bu yemek, et suyu ile fırınlanır. Tamtak Tiridi’nin en önemli özelliklerinden biri, Ankara dışında bilinmemesi servis esnasında çemen ilave edilen dolayısıyla oldukça lezzetli bir yemek olan Tamtak Tiridi’ni yerel restoranlarda deneyebilirsiniz.</p>
<p style="color:#1560BD">Yemek Tarifi :</p><a href="https://www.nefisyemektarifleri.com/tamtak-tiridi/" target="_blank">https://www.nefisyemektarifleri.com/tamtak-tiridi/</a>
<div class="hr-line"></div>


<div class="d-flex justify-content-center">
    <img src="~/yemekresimleri/şibit.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ŞİBİT TATLISI</h2>
<p class="lead text-center">Şepit ya da Şibit Tatlısı isimleri ile anılan bu tatlı, Ankara mutfağına ait bir lezzet. Oldukça az ve basit bir malzeme listesine sahip. Un, su ve biraz tuz ile hazırlanan hamur şeker, su ve tereyağı ile hazırlanan şurup ile buluşturularak Şibit Tatlısı hazırlanır. Malzemeleri az olmasına rağmen lezzet konusunda iddialı bir tatlı olan Şibit Tatlısı, baklava şeklinde kesilerek servis edilir. Özellikle düğün ve cenazelerde tercih edilir.</p>
<p style="color:#1560BD">Yemek Tarifi :</p><a href="https://lezzetler.com/sibit-tatlisi-ankara-tarif-172240" target="_blank">https://lezzetler.com/sibit-tatlisi-ankara-tarif-172240</a>