@{
}
<head>
    <style>
        .custom-image {
            width: 600px;
            height: auto;
        }

        .custom-map {
            width: 450px;
            height: 450px;
        }

        .hr-line {
            border-top: 3px solid #ddd;
            margin: 2rem 0;
            width: 80%;
            margin-bottom: 3rem;
            margin-top: 8rem;
        }

    </style>
</head>

<div class="d-flex justify-content-center">
    <img src="~/Müzeler/anadolu medeniyetleri müzesi(1).jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANADOLU MEDENİYETLERİ MÜZESİ</h2>
<p class="lead text-center">Anadolu Medeniyetleri Müzesi, Atpazarı olarak adlandırılan semtte, Ankara Kalesi’nin dış duvarının güneydoğu kıyısında yeni işlev verilerek düzenlenmiş iki Osmanlı binasından oluşmaktadır. Mahmut Paşa Bedesteni’nin Fatih dönemi baş vezirlerinden Mahmut Paşa tarafından 1464-1471 yılları arasında yapıldığı tahmin edilmektedir. Kurşunlu Han’ın ise Fatih dönemi baş vezirlerinden Mehmet Paşa’nın İstanbul’un Üsküdar ilçesindeki imaretine vakıf olarak yaptırılmıştır. 1881 yılındaki yangından sonra terk edilen her iki yapı daha sonra Atatürk’ün isteği ile Anadolu’dan toplanan eserleri sergilemek amacıyla uzun yıllar süren yenileme çalışmaları sonucunda müzeye dönüştürülmüştür. Bugün kendine özgü koleksiyonları ile dünyanın sayılı müzeleri arasında yer alan Anadolu Medeniyetleri Müzesi’nde Anadolu Arkeolojisi, Paleolithik Çağ’dan başlayarak günümüze kadar Osmanlı devrinin bu tarihi mekânlarında kronolojik bir sırayla sergilenmektedir.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row d-flex align-items-start">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1529.5711754830093!2d32.86113027120329!3d39.938205420314915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e6778370bf7%3A0x9b91ac47e4f46746!2sAnadolu%20Medeniyetleri%20M%C3%BCzesi!5e0!3m2!1str!2str!4v1735320688493!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Gözcü Sokak No: 2 Ulus</li>
                        <li><span style="color:#1560BD">Tel .:</span> 324 31 60 /61</li>
                        <li><span style="color:#1560BD">Faks :</span> 311 28 39</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Her gün.</li>
                        <li><span style="color:#1560BD">Açık bulunduğu saatler :</span> Yaz: 08.30-19.00 - Kış : 08.30-17.00 </li>
                        <li><span style="color:#1560BD">İnternet Adresi :</span> <a href="http://www.anadolumedeniyetlerimuzesi.gov.tr/" target="_blank">http://www.anadolumedeniyetlerimuzesi.gov.tr/</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="hr-line"></div>

<div class="d-flex justify-content-center">
    <img src="~/Müzeler/CUMHURİYET MÜZESİ.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">CUMHURİYET MÜZESİ (II. TBMM BİNASI) </h2>
<p class="lead text-center">Bina 1923 yılında mimar Vedat Tek tarafından Cumhuriyet Halk Fırkası toplantı yeri olarak tasarlanmış ve inşa edilmiştir. Ancak, I.TBMM binası yeterli gelmeyince bu binanın işlevi değiştirilerek Meclis binası olarak düzenlenmiş ve 18 Ekim 1924 tarihinde hizmete açılmıştır. II. TBMM 1924-1960 yıllarında Atatürk ilke ve devrimlerinin gerçekleştirildiği, Cumhuriyetimizingelişmesi için çok önemli kararların alındığı önemli bir yapıdır. Türk siyasi tarihinde önemli bir yeri olan II. Türkiye Büyük Millet Meclisi binası işlevini 27 Mayıs 1960 tarihine kadar 36 yıllık bir dönem boyunca sürdürmüştür. Binanın ön kısmı onarım ve yenilenmelerden sonra düzenlenerek 30 Ekim 1981 tarihinde müze olarak ziyarete açılmıştır. Müzede ilk üç Cumhurbaşkanımız olan Mustafa Kemal Atatürk, İsmet İnönü ve Celal Bayar’ın kişisel eşyaları, Mecliste kullanılan çeşitli kırtasiye araçları, Meclis görüşme tutanakları, milletvekili yoklama defterlerinden birer örnek ile Atatürk ilkeleri ve devrimlerine ilişkin eserler sergilenmektedir. 1924–1960 yıllarında TBMM Genel Kurul Salonu olarak kullanılan salonda en çok 600 milletvekili görev yapmıştır. Atatürk, 15–20 Ekim 1927 tarihleri arasında “Büyük Nutku”nu burada okumuştur. Salonun tavan süslemeleri Selçuklu ve Osmanlı süsleme sanatlarından esinlenilerek yapılmıştır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2041.645065027179!2d32.852248449698266!3d39.94113898027172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e8ac554f6b9%3A0x73d72409e1897ea2!2sCumhuriyet%20M%C3%BCzesi%20(II.%20TBMM%20Binas%C4%B1)!5e0!3m2!1str!2str!4v1735373213616!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Cumhuriyet Bulvarı No: 22 Ulus</li>
                        <li><span style="color:#1560BD">Tel .:</span> 310 53 61 </li>
                        <li><span style="color:#1560BD">Faks :</span> 311 04 73</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Pazartesi hariç her gün.</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> Yaz:08.45–18.45
                            Kış:08.45–17.00
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="http://www.cumhuriyetmuzesi.gov.tr/" target="_blank">http://www.cumhuriyetmuzesi.gov.tr</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>

<div class="d-flex justify-content-center">
    <img src="~/Müzeler/335148,kurtulus-savasi-muzesi-i-tbmm-binasijpg.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">KURTULUŞ SAVAŞI MÜZESİ (I. TBMM BİNASI)</h2>
<p class="lead text-center">
    Birinci Türkiye Büyük Millet Meclisi Binası olarak kullanılan yapı, döneminde bir parti binası olarak inşa edilmiştir. 1915 yılında İttihat ve Terakki Fırkasınca kulüp binası olarak yapımına karar verilmiştir. Harbiye Nazırı Enver Paşa’nın emriyle mimar Salim Bey tarafından bina projelendirilmiş ve proje yapım işi ise askerî mimar Hasip Bey’e verilmiştir. Hasip Bey, binanın büyük bölümünü başarı ile bitirmiş ancak çatı ve diğer bölümler, sürmekte olan savaş, yaşanan malzeme sıkıntısı nedenleriyle tamamlanamamıştır. Meclis-i Mebusan’ın kapatılması üzerine, bu binanın meclise dönüştürülmesine karar verilmiş, bina halkın fedakârlıkları ile tamamlanmış ve 23 Nisan 1920’de Büyük Millet Meclisi olarak açılmıştır. 23 Nisan 1920- 15 Ekim 1924 tarihleri arasında TBMM binası olarak kullanılan yapı özgününe uygun olarak yeniden düzenlenmiş ve 1961 yılında ise müzeye dönüştürülmüştür. Müze koleksiyonu içinde, Atatürk ve bazı milletvekillerine ait şahsi eşyalar, etnografik malzemeler, istiklal madalyaları, Millî Mücadelenin silah ve haberleşme gücünü yansıtan eserler ile yağlı boya tablolar bulunmaktadır.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2041.645065027179!2d32.852248449698266!3d39.94113898027172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e61c58e5443%3A0x69bcbf44518d353!2zS3VydHVsdcWfIFNhdmHFn8SxIE3DvHplc2kgKEkuIFRCTU0gQmluYXPEsSk!5e0!3m2!1str!2str!4v1735373612062!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li>
                            <span style="color:#1560BD">Adres:</span> Doğanbey Mahallesi Cumhuriyet Caddesi No: 2/1 Ulus/Altındağ
                        </li>
                        <li><span style="color:#1560BD">Tel .:</span>  0312 420 19 20 </li>
                        <li><span style="color:#1560BD">Faks :</span> 0312 420 26 49</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span>Haftanın her günü müze ziyarete açıktır.<br /><span style="color:#1560BD">Yaz Dönemi (Nisan-Ekim)</span><br /><span style="color:#1560BD">Gişe saatleri :</span> 09.00-17.30<br /><span style="color:#1560BD">Ziyaret Saatleri :</span> 09.00-18.00<br /><span style="color:#1560BD">Kış Dönemi (Kasım-Mart)</span><br /><span style="color:#1560BD">Gişe saatleri :</span> 09.00-16.30<br /><span style="color:#1560BD">Ziyaret Saatleri :</span> 09.00-17.00</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> Yaz:08.45–18.45
                            Kış:08.45–17.00
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="http://www.kultur.gov.tr/TR,96356/ankara---kurtulus-savasi-muzesi-i-tbmm-binasi.html" target="_blank">http://www.kultur.gov.tr/TR,96356/ankara---kurtulus-savasi-muzesi-i-tbmm-binasi.html</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/Müzeler/308946,resim-heykeljpg.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA RESİM VE HEYKEL MÜZESİ</h2>
<p class="lead text-center">
    Müze binası, Arif Hikmet Koyunoğlu tarafından Namazgâh Tepesi’nde 1927 yılında inşa edilmiştir. I. Ulusal Mimarlık döneminin (1908- 1930) en güzel örneklerinden olan bina Türk Ocakları Merkez Binası olarak projelendirilmiştir. 1980 yılında restore edilerek hizmete giren Müze kısa zamanda çağdaş müzeciliğin gerektirdiği tüm fonksiyonlara ve hizmetlere sahip bir
    kurum haline gelmiştir. Osman Hamdi Bey’in Silah Taciri, V. Vereshchaing’in Timur’un Mezarı Başında, Fausto Zonaro’nın Genç Kız Portresi, Emel Cimcoz Korutürk’ün Gaziye Şükran tabloları müzenin ilk yapıtları arasında yer alırlar. Milli Kütüphane kurucusu Adnan Ötüken’in aldığı tablolardan bir kısmı restore edilerek müze koleksiyonuna eklenmiştir. Cumhuriyet döneminde plastik sanatların halk arasında yaygınlaşması ve sanatçıların desteklenmesi amacıyla 1939 yılından itibaren yapılmaya başlanan ve Devlet Resim ve Heykel sergilerine katılan sanatçıların eserlerinin bazıları, kurulan seçici kurul tarafından müze koleksiyonuna alınmıştır. Satın alma yoluyla eklenen eserler Türk Plastik Sanatının geçirdiği evreleri gösterir ve bu alanda çalışan araştırmacıların ihtiyaçlarına cevap verir. Müze bünyesinde Güzel Sanatlar Galerileri, bir restorasyon atölyesi, teşhir salonları, Şark Salonu, konser-tiyatro salonu, yönetim bölümü ve depolar yer alır. Orkestra çukuru bulunan sahnesi operet temsillerine uygundur.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.3761317172507!2d32.85489017306814!3d39.93297552178105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e58fac4d1f5%3A0x3d13b25acff0c118!2sHacettepe%2C%20Resim%20Ve%20Heykel%20M%C3%BCzesi%2C%2006230%20Alt%C4%B1nda%C4%9F%2FAnkara!5e0!3m2!1str!2str!4v1735375758996!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span>Talatpaşa Blv. Türk Ocağı Sokak No:1 Ulus</li>
                        <li><span style="color:#1560BD">Tel .:</span>310 20 94–95 </li>
                        <li><span style="color:#1560BD">Faks :</span>310 86 02</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span>Pazartesi hariç her gün</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span>09.00–12.00 • 13.00–17.00
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://arhm.ktb.gov.tr/" target="_blank">https://arhm.ktb.gov.tr/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>



<div class="d-flex justify-content-center">
    <img src="~/Müzeler/ETNOGRAFYA.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ETNOGRAFYA MÜZESİ</h2>
<p class="lead text-center">Etnografya Müzesi, Ankara’nın Namazgâh adı ile anılan semtinde bulunan tepede kurulmuştur. Yapının mimarı Cumhuriyet Dönemi’nin önemli mimarlarından Arif Hikmet Koyunluoğlu’dur. Türkiye’de müze binası olarak yapılan ilk yapıdır. Müzenin önünde bulunan bronzdan yapılmış at üzerinde Atatürk Heykeli 1927 yılında İtalyan heykeltıraş Pietro Canonica tarafından yapılmıştır. Halktan toplanan eserlerle 18.07.1930 tarihinde halkın ziyaretine açılmıştır. 1938 yılında Atatürk’ün ölümü nedeniyle müzenin iç avlusu 15 yıl süreyle Atatürk’e geçici olarak mezar görevi yapmıştır. Müzenin iç kısmında bulunan mermer yazıtta “Burası 10.11.1938 tarihinde sonsuzluğa ulaşan Atatürk’ün 21.11.1938 tarihinden 10.11.1953 tarihine kadar yattığı yerdir” yazısı yer almaktadır. Etnografya Müzesi Anadolu’nun Türk-İslam Dönemine ait eserlerin sergilendiği bir müzedir. Solanlarında sırasıyla, giyim-kuşam, işleme, takı, kına gecesi konulu sergi, damat tıraşı konulu sergi, hamam kültürü konulu sergiler bulunur. Anadolu’nun çeşitli yörelerine ait dokuma örnekleri (halı-kilim), maden sanatı örnekleri ve bakırcılığa ait araç ve gereçler, kahve kültürü konulu sergi, kaşıklar, Türk odası ve sünneti töreni konulu sergiler ile Türk çini, seramik, cam, silah, yazma eserler, levhalar ve Selçuklu ve Osmanlı Dönemine ait seçkin ahşap eserler yer almaktadır. Ayrıca; Besim Atalay koleksiyonuna ait eserlerden oluşan bir teşhir salonu bulunmaktadır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1668.140642379094!2d32.85520224902619!3d39.93281371531399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e585e5f03bf%3A0x96547904f208ccf6!2zSGFjZXR0ZXBlLCBFdG5vxJ9yYWZ5YSBNw7x6ZXNpLCAwNjIzMCBBbHTEsW5kYcSfL0Fua2FyYQ!5e0!3m2!1str!2str!4v1735376410096!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Hacettepe Mah. Türk Ocağı Sokak No: 4 Ulus</li>
                        <li><span style="color:#1560BD">Tel .:</span> 311 30 07</li>
                        <li><span style="color:#1560BD">Faks :</span> 311 95 96</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Pazartesi hariç her gün.</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> Yaz: 08.30-12.30 • 13.30-17.30
                            Kış: 08.30-12.30•13.30-17.00
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="http://www.etnografyamuzesi.gov.tr/" target="_blank">http://www.etnografyamuzesi.gov.tr/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>



<div class="d-flex justify-content-center">
    <img src="~/Müzeler/GORDİON.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">GORDİON MÜZESİ</h2>
<p class="lead text-center">
    1963 yılında yaklaşık 250 nüfuslu bir köyde kurulan Gordion Müzesi, 1990’lı yıllarda eklenen depoları, laboratuarı, görüntü ve bilgilendirme salonu, açık ve kapalı teşhiri ile Türkiye’nin
    önemli müzelerinden birisidir. Başta Gordion kazılarından olmak üzere, Polatlı ilçesi civarından derlenen eserlerden kronolojik bir sergileme sunan müze, 2000 yılında Avrupa’da Yılın Müzesi yarışmasında finale kalmıştır. Müzede sergilenen eserler arasında Eski Tunç Çağı’ndan başlayarak, Orta ve Geç Tunç Çağına, Erken Frig Çağı’na ait çanak-çömlekler, Erken Demir Çağı’na ait kabartmalı ortostatlar, yine Erken Frig Çağı’na ait demir aletler yer alır. Dokumacılıkta kullanılan ağırşaklar, cam, mühür ve mühür baskıları, M.Ö. 4. ve M.Ö. 2. yüzyıllar arasına tarihlenen İskender sikkeleri giriş salonunda yer almaktadır. Yener Yılmaz salonunda ise M.Ö. 8. ve M.Ö. 4. yüzyıllar arasında tarihlenen Geç Frig ve ithal seramikler ile Lidya dönemi, Helenistik dönemi ve Roma dönemine ait eserler sergilenmektedir. Bunların dışında, Frig yazıtlı ve baskılı çanak çömlekler, Frig mimarisine ait terrakotta parçaları (pişmiş toprak) çeşitli malzemelerden yapılmış eserler ile Kibele kabartmaları ve fi gürler önemli yer tutar. Polatlı Höyük’ten getirilen ve Anadolu’nun en eski halkı olarak bilinen Hatti’lere ait ölü gömme şekillerini gösteren mezarlar müzenin diğer sergileri arasında yer alır. Galat Mezarı ile Frig ve Roma mozaikleri müzenin bahçesinde sergilenmektedir.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3071.8821381916173!2d31.99579438840213!3d39.652366990694254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d25e1f7d2ba799%3A0xc115698a281a2953!2sGordion%20M%C3%BCzesi!5e0!3m2!1str!2str!4v1735376342483!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Yassıhöyük Köyü Gordion Polatlı</li>
                        <li><span style="color:#1560BD">Tel .:</span> 638 21 88</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Her gün</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span>Yaz: 09.00-16.30
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://ankara.ktb.gov.tr/TR-359127/gordion-antik-kenti.html" target="_blank">https://ankara.ktb.gov.tr/TR-359127/gordion-antik-kenti.html</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/Müzeler/ROMAHAMAMI.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ROMA HAMAMI AÇIK HAVA MÜZESİ VE ÖREN YERİ</h2>
<p class="lead text-center">
    Ulus Çankırı Caddesi üzerinde, caddenin batısında 2,5 m yüksekliğinde bir platonun üstünde bulunur. 1938 yılında yapılan kazılarda Frig, Roma ve Bizans katları bulunmuştur. 1940-943
    yılları arasında yapılan kazılarda ortaya çıkartılan bu muhteşem anıt, biri palaestra, öteki kapalı hamam kısımları olmak üzere iki kısımdan ibarettir. Kazılarda bulunan sikkelere dayanarak
    kazı başkanı hamamın Caracalla (M.S. 212–217) döneminde yapıldığını açıklamıştır. Palaestra’nın kuzeydoğusunda yer alan Sütunlu Cadde üzerinde 2007–2011 yılları arasında kazı çalışmaları yapılmıştır. Bu çalışmalarda cadde ile bağlantılı dükkânlara ait mimari ortaya çıkartılmıştır. Ayrıca; burada bulunan devasa bir İmparator heykeli de önemli bulgular arasındadır.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.7843102981674!2d32.85402765985446!3d39.946214026688466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e6266608e71%3A0xacd9993a24cbbb3!2sAnkara%20Roma%20Hamam%C4%B1%20ve%20Antik%20Kenti!5e0!3m2!1str!2str!4v1735376670245!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Çankırı Caddesi No: 43 Ulus</li>
                        <li><span style="color:#1560BD">Tel .:</span> 310 72 80</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Pazartesi hariç her gün</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> 08.30–17.30
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://kvmgm.ktb.gov.tr/TR-131902/ankara-roma-hamami-oren-yerinde-cevre-duzenleme-calismalari-basladi.html" target="_blank">https://kvmgm.ktb.gov.tr/TR-131902/ankara-roma-hamami-oren-yerinde-cevre-duzenleme-calismalari-basladi.html</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/Müzeler/ŞEFİKBURSALI.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ŞEFİK BURSALI MÜZESİ</h2>
<p class="lead text-center">1903 yılında Bursa’da doğan Şefi k Bursalı, hocaları olan İbrahim Çallı, Hikmet Onat, Feyhamam Duran, Namık İsmail ve Avni Lifi j’in Türk Ressamlar Birliği sergilerine öğrenciyken katılmaya başlamıştır. Daha sonra Avrupa’ya gitmiş ve birçok sanat merkezinde çalışma imkânı bulmuştur. İzmir, Konya ve İstanbul liselerinde öğretmenlik yapmış 1934-1936 yılları arasında Konya’da step karakterini yansıtan Selçuk, Mevlana konulu resimleriyle ün kazanmıştır. 1937-1938 yılları arasında Atatürk’ün arzusuyla eserlerini Moskova, Leningrad, Kiev, Bükreş, Belgrat, Atina ve Paris şehirlerinde sergilemiştir. Avrupa’nın diğer şehirlerinde de sergilere katılmış ve olumlu eleştiriler almış olan ressam 20.04.1990 tarihinde vefat etmiştir. Yaşadığı ev Kültür ve Turizm Bakanlığı tarafından Şefi k Bursalı Müzesi olarak düzenlenmiştir. Ressam Şefi k Bursalı, eserlerinin tamamına yakın kısmını ve “atölye-ev”ini Kültür ve Turizm Bakanlığına bağışlamıştır. Bağışlanan eserler sanatçının kendisi tarafından, sanat yaşamının tüm dönemlerini kapsayacak şekilde seçilmiştir. Müze ev düzenlenirken, ev eserlerin konulabilmesi için gerekli teknik yapılarla donatılmış ve yeniden döşenmiştir. Evin bahçesi eski doğal özellikleri ile korunmuş ve evin ön kısmına da sanatçının bir büstü yerleştirilmiştir. Bu atölye müze- ev sayesinde şimdiki ve gelecek kuşaklar ünlü ressamın sanatını bir bütünlük içinde ve sanatçının yaşadığı atmosferin bir parçası halinde inceleyip tanıyabileceklerdir.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3061.557705346179!2d32.85082479078792!3d39.88414411298497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34580225d20f3%3A0xca4a21c3d5b8ece9!2zxZ5lZmlrIEJ1cnNhbMSxIE3DvHplc2k!5e0!3m2!1str!2str!4v1735376851378!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Ahmet Mithat Efendi Sokak No: 36/3 Çankaya</li>
                        <li><span style="color:#1560BD">Tel .:</span> 310 20 94- 95</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Pazartesi hariç her gün</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> 09.00-12.00 • 13.00-17.00
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.kulturportali.gov.tr/turkiye/ankara/gezilecekyer/sefk-bursali-muze-ev" target="_blank">https://www.kulturportali.gov.tr/turkiye/ankara/gezilecekyer/sefk-bursali-muze-ev</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/Müzeler/ALAGÖZKARARGAH.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ALAGÖZ KARARGAH MÜZESİ</h2>
<p class="lead text-center">
    Alagöz Karargâh binası, Kütahya-Eskişehir savaşları sonunda Türk Ordusu Sakarya hattına çekilirken Başkomutan Mustafa Kemal’in karargâhı olarak kullanılmıştır. Bu bina aynı zamanda
    Atatürk’ ün büyük Nutku’nda “12 Ağustos 1920 günü Erkan-ı Harbiye Umumi Reisi Fevzi Çakmak Paşa hazretleriyle beraber Polatlı ilçesinde cephe karargâhına gittim” şeklindeki notu yazdığı yerdir. Bugünkü mevki ile Alagöz köyü, Ankara Polatlı yoluna 4 km’lik tali bir yolla bağlıdır. Yol ayrımı Ankara’ya 36 km, Polatlı ilçesine 31 km uzaklıktadır. Mevki olarak Malıköy tren istasyonunun yaklaşık 9 km güneydoğusunda bulunmaktadır. Bugün, 45 hane ve 285 nüfuslu olan Alagöz köyü o tarihte birkaç binadan ibaret küçük bir çiftlik idi. Bu köyün halkından, Türkoğlu Ali Ağa’ya ait çiftlik evi karargâh olarak kullanılmıştır. Atatürk, 23 Ağustos’tan 13 Eylül 1921 tarihine kadar 22 gün 22 gece aralıksız devam eden savaşın büyük bir bölümünün bu binadan idare etmiş, bütün planlarını burada hazırlamış, tarihi kararlarını burada vermiştir. Müze, Anıtkabir Komutanlığına bağlı olarak faaliyet göstermektedir.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6135.442792373239!2d32.476739917130224!3d39.74590867643067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d31ba7a315604b%3A0x9bce9a97f2d3a74a!2zQWxhZ8O2eiBLYXJhcmfDomggTcO8emVzaQ!5e0!3m2!1str!2str!4v1735377180221!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Alagöz Köyü- Ankara Eskişehir Yolu 31. Km. Polatlı</li>
                        <li><span style="color:#1560BD">Tel .:</span> 231 79 75</li>
                        <li><span style="color:#1560BD">Faks :</span> 231 53 80</li>
                            <li><span style="color:#1560BD">Açık bulunduğu saatler :</span> Yaz: 09.00-17.00 • Kış: 09.00-16.00
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="http://www.kultur.gov.tr/TR-96352/ankara---alagoz-karargah-muzesi.html" target="_blank">http://www.kultur.gov.tr/TR-96352/ankara---alagoz-karargah-muzesi.html</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>






<div class="d-flex justify-content-center">
    <img src="~/Müzeler/335143,anitkabirjpg.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANITKABİR ATATÜRK VE KURTULUŞ SAVAŞI MÜZESİ</h2>
<p class="lead text-center">
    Tören alanından Anıt Bloğu’na doğru bakıldığında, sağda yer alan Misak-ı Milli kulesinin kapısından girilen müze, 21 Haziran 1960 tarihinde Anıtkabir Atatürk Müzesi adıyla açılmıştır.
    Uzun yıllar Mustafa Kemal Atatürk’ün kullandığı ve kendisine yabancı devlet adamları tarafından hediye edilen eşyalar müzede sergilenmiştir. 2001 yılında Anıtkabir Komutanlığı’nın hazırladığı proje doğrultusunda müzeye, Mozole’de yer alan Şeref Salonu’nun altında bulunan yaklaşık 3.000 m2’lik sütunlu alanın da eklenmesine karar verilmiştir. Bu projenin hayata geçmesiyle müze 200 m2’lik sergi alanına ulaşmıştır. 26 Ağustos 2002 tarihinde yeni eklenen bölümler ile birlikte müze devlet töreniyle açılmıştır. Bu tarihten itibaren müze, Atatürk ve Kurtuluş Savaşı Müzesi adını almıştır. Müze 4 bölümden oluşmaktadır :
 </p><br />
<p><span style="color:#1560BD">1. Bölümde :</span> Atatürk’ün kullandığı eşyalar ile kendisine yabancı devlet adamları tarafından hediye edilen eşyalar yer alır. Ayrıca; bu bölümde Atatürk’ün manevi evlatlarından Afet İnan, Rukiye Erkin, Sabiha Gökçen tarafından müzeye bağışlanan Atatürk’e ait eşyalar da bulunmaktadır.</p><br />
<p>
    <span style="color:#1560BD">2. Bölümde :</span>Çanakkale Savaşları, Sakarya Meydan Savaşı ve Büyük Taarruz’un anlatıldığı panaroma ile yağlı boya tablolar yer alır. Bu bölümde ziyaretçilere Türkiye Cumhuriyeti’nin
    kuruluşuna giden yolda yaşanan güçlükler hissettirilmeye çalışılmaktadır.
</p>
<br />
<p><span style="color:#1560BD">3. Bölümde :</span>Milli Mücadele ve devrimlerin anlatıldığı galeriler ile Mustafa Kemal Atatürk’ün mezar odası yer alır. Bu bölümde 1919-1938 yılları arasında, Atatürk dönemine ilişkin olaylar Türkçe ve İngilizce açıklamalarla anlatılmaktadır.</p>
<br />
<p>
    <span style="color:#1560BD">4. Bölümde :</span>Mustafa Kemal Atatürk’ün kütüphanesinde yer alan 3.123 adet kitabın sergilendiği Atatürk Özel Kitaplığı yer alır. Ayrıca; bu bölümde Anıtkabir’in inşası, Atatürk’ün hayatı
    ve Anıtkabir’de icra edilen törenlerin yer aldığı dokunmatik bilgisayarlar da bulunmaktadır.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.7380166580606!2d32.83513397649495!3d39.92487868542758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f1dd394e2b1%3A0x9695b67e243e0489!2zQXRhdMO8cmsgdmUgS3VydHVsdcWfIFNhdmHFn8SxIE3DvHplc2k!5e0!3m2!1str!2str!4v1735377962969!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Anıt Caddesi Tandoğan</li>
                        <li><span style="color:#1560BD">Tel .:</span> 231 79 75/2330</li>
                        <li><span style="color:#1560BD">Faks :</span> 231 53 80</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span>  Her gün</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span><br /><span style="color:#1560BD">1 Şubat-14 Mayıs :</span>09.00-16.30<br /><span style="color:#1560BD">15 Mayıs-31 Ekim :</span>09.00-17.00<br /><span style="color:#1560BD">1 Kasım-31 Ocak :</span>09.00-16.00
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="http://www.anitkabir.tsk.tr/03_muzeler/muzeler.html" target="_blank">http://www.anitkabir.tsk.tr/03_muzeler/muzeler.html</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/Müzeler/DEVLETMEZARLIĞI.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">DEVLET MEZARLIĞI MÜZESİ</h2>
<p class="lead text-center">
    Devlet Mezarlığı, Türkiye Cumhuriyeti Cumhurbaşkanları ile Cumhuriyetimizin kuruluşuna hayat veren Ulu Önder Atatürk’ün yakın silah arkadaşları olan İstiklal Harbi komutanlarının
    defnedilmesi için 2549 sayılı kanunla kurulmuş olup, 30 Ağustos 1988 tarihinde devlet töreniyle açılmıştır. 08.11.2006 tarihinde kanun hükmünde değişikliğe gidilerek, TBMM başkanları ve Başbakanların da Devlet Mezarlığına defnedilmesi karara bağlanmıştır. Müze binası, giriş ve alt kat olmak üzere iki bölümden oluşur. Devlet Mezarlığı Müzesinde defnedilen Cumhurbaşkanlarına ve İstiklal Savaşı komutanlarına ait eşya, resim ve belgeler sergilenmektedir. Ayrıca; ziyaretçilere müze alt katında yer alan yansıtım cihazları ile Devlet Mezarlığını tanıtıcı fi lm, Atatürk ve Kurtuluş Savaşı ile ilgili çeşitli filmler gösterilmektedir.  Ulu Önder Atatürk’ün emri ile 1931 yılında yaptırılmış olan Karadeniz Havuzu, Devlet Mezarlığı inşaatı kapsamında yenilenmiştir. Havuz çevresinde düzenlenen dinlenme alanına gelen ziyaretçilere hizmet verilmektedir. Ayrıca; Türkiye Cumhuriyeti Devleti’nin kuruluşu, 19 Mayıs 1919 tarihinden başlayarak Cumhuriyetin kuruluşuna kadar olan tarih; heykel ve simgelerle canlandırılarak, açık havada “Cumhuriyet Tarihi Yolu” olarak ziyarete açılmıştır.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.273619767479!2d32.80687701142882!3d39.93526888213798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d348d549648e11%3A0x46da7a6b2a8690e1!2zRGV2bGV0IE1lemFybMSxxJ_EsSBNw7x6ZXNp!5e0!3m2!1str!2str!4v1735378300379!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li> 
                            <span style="color:#1560BD">Adres:</span> MSB Devlet Mezarlığı Müdürlüğü Alpaslan Türkeş Cad. Beştepe-Yenimahalle
                        </li>
                        <li><span style="color:#1560BD">Tel .:</span> 221 06 27/103–105</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Pazartesi-Salı hariç her gün.</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> Yaz : 11.00 - 19.00 • Kış : 09.30 - 16.30 • Hafta Sonu : 10.00 - 17.00

                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.kulturportali.gov.tr/turkiye/ankara/gezilecekyer/devlet-mezarligi-muzes" target="_blank">https://www.kulturportali.gov.tr/turkiye/ankara/gezilecekyer/devlet-mezarligi-muzes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/Müzeler/HARİTACILIK.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">HARİTACILIK MÜZESİ</h2>
<p class="lead text-center">MSB Harita Genel Komutanlığının Merkez Kışlasında bulunan “Haritacılık Müzesi” 2. sınıf askeri bir müzedir. Müze ilk olarak 2 Mayıs 1971 tarihinde Harita Yüksek Okulu Komutanlığı bünyesinde kurulmuştur. 2003 yılında yeni baştan düzenlenen müzede, haritacılıkla ilgili eski alet ve malzemelerle, arşivlerden ve yurt içi ya da yurt dışından temin edilen haritalar sergilenmektedir.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.4201962285356!2d32.881897793444786!3d39.93198969273227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e166906a5bd%3A0xcf0fdd04fbf76561!2zSGFyaXRhY8SxbMSxayBNw7x6ZXNp!5e0!3m2!1str!2str!4v1735378562819!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li>
                            <span style="color:#1560BD">Adres:</span> MSB Harita Genel Komutanlığı Tıp Fakültesi Caddesi Dikimevi
                        </li>
                        <li><span style="color:#1560BD">Tel .:</span> 595 23 38/2394</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Salı ve Perşembe</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> 09.30-12.00 • 14.00-17.30
                            (Komutanlık izniyle)

                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.hgk.msb.gov.tr/k-4-haritacilik-muzesi.html" target="_blank">https://www.hgk.msb.gov.tr/k-4-haritacilik-muzesi.html</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/Müzeler/HAVAKUVVETLERİ.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">HAVA KUVVETLERİ MÜZESİ</h2>
<p class="lead text-center">Müze, İstanbul Yolunun 12. kilometresinde kurulmuş olan Şaşmaz mevkiinde yer alır. 18 Eylül 1998 tarihinde hizmete giren müzenin resmi açılışı Mustafa Kemal Atatürk’ün manevi kızı, ülkemizin ilk kadın pilotu Sabiha Gökçen tarafından gerçekleştirilmiştir. Türk Hava Kuvvetleri demirbaş kaydında bulunan her türlü uçak, silah, mühimmat, yer savunma sistemleri gibi zengin bir koleksiyon tasnif edilerek çağdaş müzecilik anlayışı ile açık sergi alanında sergilenmektedir. Hava Kuvvetleri Komutanlığı’nın kullanmış olduğu bu uçaklardan bir adet eğitim uçağı ve bir adet av-bombardıman uçağının pilot köşkü içine ziyaretçiler girebilmektedir. Müze kapalı sergi alanında ise Türk ve Dünya havacılığına ilişkin önemli olaylar ve Türk Hava Kuvvetleri tarihçesi kronolojik olarak çeşitli fotoğraf, maket ve canlandırmalarla sergilenmektedir. İlk yerli uçaklarımızın ölçekli modelleri, büstler, flamalar ile Osmanlı döneminden günümüze hava, subay ve pilot kıyafetleri, Hava Şehitleri köşesi ile yine bu alanda bazı şehitlerimize ve Türk havacılık tarihinde önemli yer tutan pilotlara ait kişisel eşyalar ile biyografi leri yer almaktadır. Müzenin sinevizyon salonunda havacılık temalı çeşitli gösterimler yapılmakta, birinci katta bulunan kafeteryası ziyaretçilere hizmet vermekte ve bahçesinde çocuklar için bir oyun alanı bulunmaktadır. Ayrıca; sosyal etkinlikler kapsamında her yıl müzenin kuruluş yıldönümüne rastlayan aylarda Plastik Model Uçak Yarışması yapılmaktadır</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d764.6837445434797!2d32.70548281965825!3d39.9473173763581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d337e8ed9a034b%3A0x1aba99e19cc5f803!2sT%C3%BCrk%20Hava%20Kuvvetleri%20M%C3%BCzesi!5e0!3m2!1str!2str!4v1735378745275!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Hava Kuvvetleri Müzesi Komutanlığı Etimesgut</li>
                        <li><span style="color:#1560BD">Tel .:</span> 244 85 50</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Pazartesi hariç her gün</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> 09.00-16.30 (Komutanlık izniyle okul ve grup gezileri randevuludur Tel: 244 85 50/4751)
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="
https://www.hvkk.tsk.tr/tr-tr/T%C3%BCrk_Hava_Kuvvetleri/Hava_Kuvvetleri_M%C3%BCzeleri/_Ankara_M%C3%BCzesi" target="_blank">
                                https://www.hvkk.tsk.tr/tr-tr/T%C3%BCrk_Hava_Kuvvetleri/Hava_Kuvvetleri_M%C3%BCzeleri/_Ankara_M%C3%BCzesi
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>





<div class="d-flex justify-content-center">
    <img src="~/Müzeler/JANDARMAMÜZESİ.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">JANDARMA MÜZESİ</h2>
<p class="lead text-center">
    Jandarma Teşkilatı’nın tarihini ve günümüzde ulaştığı seviyeyi her yönüyle tanıtmak ve bu askeri kültür mirasını gelecek kuşaklara aktarmak amacıyla kurulmuştur. Müze 21 Kasım 2005
    tarihinde açılmıştır. Müzenin giriş katında Osmanlı Devleti dönemi sergi salonu birinci katında ise Cumhuriyet Dönemi sergi salonları yer almaktadır.  Bu salonlarda Jandarma Teşkilatı’nın tarihi gelişimi, silahlar, kıyafetler, fotoğrafl ar ve bilgi panolarıyla tarih sırasına göre anlatılmaktadır.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3063.4166174651473!2d32.74828077649196!3d39.84249569038827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d340d35cf72127%3A0x8c4e5ed2417f992a!2sJandarma%20M%C3%BCzesi!5e0!3m2!1str!2str!4v1735378879423!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Ahlatlıbel Mahallesi Çankaya</li>
                        <li><span style="color:#1560BD">Tel .:</span> Ahlatlıbel Mahallesi Çankaya</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Hafta içi her gün</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> 09.30-16.30
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.360tr.com/jandarma-muzesi-giris-sanal-tur_7bb99a240_tr.html" target="_blank">https://www.360tr.com/jandarma-muzesi-giris-sanal-tur_7bb99a240_tr.html</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/Müzeler/MSB MÜZESİ.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">M.S.B. ARŞİV MÜZESİ</h2>
<p class="lead text-center">M.S.B. Arşiv Müdürlüğü Müzesinde Kırım Savaşı, Trablusgarp Savaşı, Balkan Savaşları, Birinci Dünya Savaşı ve İstiklal Savaşı dönemlerine ait personele yönelik belge ve dokümanlar sergilenmektedir.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3061.2578325824616!2d32.75664596499255!3d39.89085928747708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d347b3bfc8fc77%3A0x6ae5cbff08e3d9f2!2sSefik%20Erensu%20Kislasi!5e0!3m2!1str!2str!4v1735391727625!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> General Şefi k Erensü Kışlası Lodumlu- Bilkent</li>
                        <li><span style="color:#1560BD">Tel .:</span> 266 27 98</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Hafta içi (koordineli)</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> 10.00-11.30 • 14.00-16.00
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="http://www.msb.gov.tr/Arsiv/icerik/arsiv-muzesi" target="_blank">http://www.msb.gov.tr/Arsiv/icerik/arsiv-muzesi</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/Müzeler/SAKARYA ŞEHİTLERİ.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">SAKARYA ŞEHİTLERİ ZAFER ANITI VE MÜZESİ</h2>
<p class="lead text-center">
    Sakarya Meydan Savaşı sırasında şehit düşen askerler anısına Polatlı ilçesinin Şehitler Kaşı mevkiinde dikilen anıt 28 Ekim 1973 tarihinde ziyarete açılmıştır. Sakarya Şehitler Anıtı, anıt
    gövdesi, heykeller ve müzeden oluşur. Anıt gövdesi 915 rakımlı tepeden başlayıp başlangıçtan itibaren daralarak, 420 basamaklı yol boyunca 970 rakımına kadar yükselir. Yolun iki yanında
    yer alan sütunlar, savaşın üstün düşman güçlerine karşı kazanıldığının ifadesidir. Merdivenli yolun sonunda, Türk Ordusu’nun kazandığı zaferin öyküsünü dile getiren kabartmalar ve müze yer almaktadır. Müzede Sakarya Meydan Savaşını belgelendiren fotoğraflar, belgeler ve çeşitli fotoğraflar sergilenmektedir.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1537.4056055595715!2d32.134381198394784!3d39.58640499999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d25a2ecee2ef7d%3A0x414630b37486aaa!2zU2FrYXJ5YSDFnmVoaXRsZXJpIEFuxLF0xLEgVmUgTcO8emVzaQ!5e0!3m2!1str!2str!4v1735379175050!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Şehitler Kaşı Tepesi - Polatlı</li>
                        <li><span style="color:#1560BD">Tel .:</span> 623 10 77 </li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Her gün</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> 09.00-17.00 (Topçu ve Füze Okulu Komutanlığı izni ile)

                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.kulturportali.gov.tr/turkiye/ankara/gezilecekyer/sakarya-sehtler-zafer-aniti-ve-muzes" target="_blank">https://www.kulturportali.gov.tr/turkiye/ankara/gezilecekyer/sakarya-sehtler-zafer-aniti-ve-muzes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/Müzeler/TOPÇU VE FÜZE OKULU.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">TOPÇU VE FÜZE OKULU SINIF MÜZESİ</h2>
<p class="lead text-center">Topçu sınıfının sosyal, kültürel ve teknik gelişimini dönemlere göre yansıtmak, askeri kültür varlıkları üzerinde askeri tarihimizi aydınlatacak bilimsel araştırmaları yapmak, tarih ve kültürümüzü gelecek nesillere aktarmak amacı ile kurulan Topçu ve Füze Okulu Sınıf Müzesi 1973 yılı Nisan ayında tamamlanarak hizmete girmiştir. Müze, müze bahçesi, müze bölümü ve Şeref Salonu olmak üzere 3 ana bölümden meydana gelmektedir. Müze bahçesinde 16. yüzyıldan günümüze kadar çeşitli ordular tarafından kullanılmış top, obüs ve havanlar sergilenmektedir. Osmanlı, Türk, Memluk, Rus, Alman, Fransız, Avusturya, Belçika, İsveç ve Amerikan orduları tarafından kullanılan demir, demir dövme, tunç, çelik topların 70’ten fazla örneği bahçe bölümünde sergilenmektedir. Müze bölümünde topçu sınıfınca kullanılan eski yıllara ait kıyafetler, silahlar, ölçme ve tersim malzemeleri sergilenmektedir. Bu bölümde ayrıca; 15. ve 19. yüzyıllara ait kesici ve delici çeşitli savaş ve savunma aletleri, kılıçlar, kamalar, zırhlar, başlıklar ve Birinci Dünya Savaşı ve Kurtuluş Savaşında kullanılan Osmanlı ve Yunan haritaları ve muharebe planları sergilenmektedir.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3074.9251661382646!2d32.15842707648268!3d39.58383690590979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d25a1d7ce45e05%3A0x1ae18b589a329371!2sTop%C3%A7u%20Ve%20F%C3%BCze%20Okulu%20Komutanligi!5e0!3m2!1str!2str!4v1735379480311!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Topçu ve Füze Okulu Komutanlığı Polatlı</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Hafta içi her gün</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> 09.00-17.00
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/Müzeler/ANKARA ÜNİVERSİTESİ OYUNCAK.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA ÜNİVERSİTESİ OYUNCAK MÜZESİ</h2>
<p class="lead text-center">Ankara Üniversitesi Eğitim Bilimleri Fakültesi Oyuncak Müzesi 23 Nisan 1990 tarihinde Türkiye’nin ilk oyuncak müzesi olarak Prof. Dr. Bekir Onur tarafından ziyarete açılmıştır. Müzenin amacı, Türkiye’de hızlı değişim süreci içinde kaybolma tehdidi altındaki oyuncakları korumaktır. Bu amaç bağlamında müze oyuncak aracılığıyla, sanayi tarihi, kültür tarihi, eğitim tarihi ve çocukluk tarihi konularında yapılan araştırmalara destek vermektedir. Oyuncak müzesi geleneksel çocuk oyun ve oyuncaklarının çeşitli örneklerinin de sergilendiği bir müze olmasıyla Türkiye’de çocuk kültürünün araştırılmasına hizmet eden bilimsel bir kuruluştur. Yerli, yabancı, sanayi ürünü ve el yapımı 2 bin dolayında oyuncak bulunan müzede koleksiyon beş ana bölümde toplanmaktadır :</p>
<br /><span style="color:#1560BD">1-Geleneksel Oyuncaklar :</span> Oyunla ilişkilendirilmiş, yerel, el yapımı oyuncaklar (sapan, çember, topaç, bez bebek, beşik, yürüteç, Eyüp Oyuncakları, vb.)
<br /><span style="color:#1560BD">2-Fabrikasyon Oyuncaklar :</span> Yapıldıkları malzemeye göre sınıfl andırılmış olan bu oyuncaklar, sanayi ürünüdür. (Tahta oyuncaklar, teneke oyuncaklar, kâğıt oyuncaklar, plastik oyuncaklar, bebekler ve yumuşak oyuncaklar)
<br /><span style="color:#1560BD">3-Yabancı Oyuncaklar :</span> Kişisel ya da ticari amaçlarla başka ülkelerden getirilmiş çeşitli oyuncaklardan oluşur. Müzedeki en eski oyuncaklar (1890) bu grupta yer almaktadır.
<br /><span style="color:#1560BD">4-Antik Oyuncaklar :</span> Ülkemizin birçok arkeoloji müzesinde sergilenen antik oyuncakların kopyaları müzede bulunmaktadır.
<br /><span style="color:#1560BD">5-Yeni Oyuncaklar :</span> Karakter oyuncakları ve popüler kültürün ürettiği oyuncaklardır.
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src=""
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li>
                            <span style="color:#1560BD">Adres:</span> Ankara Üniversitesi Eğitim Bilimleri Fakültesi
                            Cebeci Yerleşkesi Cemal Gürsel Cad. Cebeci
                        </li>
                        <li><span style="color:#1560BD">Tel .:</span> 363 33 50 / 3212</li>
                        <li><span style="color:#1560BD">Faks :</span> 362 33 32</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu günler :</span> Salı-Çarşamba- Perşembe-
                            Cuma (randevu ile)
                        </li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> 10.00-12.00 • 14.00-16.00
                        </li>
                        <li>
                            <span style="color:#1560BD">Kapalı bulunduğu aylar :</span> Temmuz, Ağustos, Eylül
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="http://cokaum.ankara.edu.tr/oyuncak-muzesi/" target="_blank">http://cokaum.ankara.edu.tr/oyuncak-muzesi/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>



<div class="d-flex justify-content-center">
    <img src="~/Müzeler/ANADOLU MİMARLIK VE MOBİLYA KÜLTÜREL MİRAS MÜZESİ.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANADOLU MİMARLIK VE MOBİLYA KÜLTÜREL MİRAS MÜZESİ</h2>
<p class="lead text-center">
    Türkiye’nin ilk mimarlık ve mobilya müzesi 25.12.2008 tarihinde açılmıştır. Anadolu mimarisinin iç ve dış mekânlarında kullanılan simgeleşmiş 1000 adet form ve motif, 30 adet saray,
    köşk, konak, cami ve evden örnekler alınarak, zengin bir kültürel birikimle bütünsel bir Anadolu mimarisi yaratılmıştır. Binanın dış kaplamasında kullanılan kızılağaç ABD’den ithal edilmiştir.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3062.9277525992397!2d32.75907207649244!3d39.85345208972907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d347273eebc2af%3A0xf2c5f0447aecdbfb!2sBilkent%20Bah%C3%A7e%20Sitesi!5e0!3m2!1str!2str!4v1735380187607!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li>
                            <span style="color:#1560BD">Adres:</span> İhsan Doğramacı Cad. Şafak Sitesi No:15
                            Melik Konağı Lodumlu-Bilkent
                        </li>
                        <li><span style="color:#1560BD">Tel .:</span> 266 10 15 - 266 10 16</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Her gün</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> 08.00-11.00
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.kulturportali.gov.tr/turkiye/ankara/gezilecekyer/anadolu-mimarlik-ve-mobilya-kulturel-miras-muzesi-ve-arastirma-merkezi--altin-kosk-" target="_blank">https://www.kulturportali.gov.tr/turkiye/ankara/gezilecekyer/anadolu-mimarlik-ve-mobilya-kulturel-miras-muzesi-ve-arastirma-merkezi--altin-kosk-</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>





<div class="d-flex justify-content-center">
    <img src="~/Müzeler/ANKARA OLGUNLAŞMA ENSTİTÜSÜ 100. YIL MÜZESİ.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA OLGUNLAŞMA ENSTİTÜSÜ 100. YIL MÜZESİ</h2>
<p class="lead text-center">
    Atatürk’ün doğumunun 100. yılı nedeniyle 24 Kasım 1981 tarihinde Enstitü bünyesinde kurulmuştur. Müze kaybolmaya yüz tutmuş etnografik eserleri korumak, yaşatmak, yeni nesillere
    aktarmak, enstitüyü ziyaret eden yerli ve yabancı konuklara Türk kültürü ve el sanatlarını tanıtmak amacıyla kurulmuştur. Kültür ve Turizm Bakanlığı, Kültür Varlıkları ve Müzeler Genel Müdürlüğü tarafından denetlenen müze üç bölümden oluşmaktadır. Eserlerin büyük bir kısmı Osmanlı İmparatorluğu son dönemine aittir. Birinci bölümde gümüş kullanım eşyaları ve takılar, ikinci bölümde el emeği göz nuru nakışlar ve üçüncü bölümde Atatürk’e ait fotoğraflar ve müze anı defterinin bulunduğu Şeref Köşesi yer alır.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.42075976213!2d32.851665076495344!3d39.93197708499981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e580d2edb47%3A0xbd0f006de5249fca!2zQW5rYXJhIE9sZ3VubGHFn21hIEVuc3RpdMO8c8O8!5e0!3m2!1str!2str!4v1735380448463!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li>
                            <span style="color:#1560BD">Adres:</span> nkara Olgunlaşma Enstitüsü
                            Atatürk Bulv. No: 41 Sıhhiye
                        </li>
                        <li><span style="color:#1560BD">Tel .:</span> 324 32 65</li>
                        <li><span style="color:#1560BD">Faks :</span> 309 48 92</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Cumartesi, Pazar hariç her gün.</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> 09.00-12.00 • 13.30-16.00

                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="http://ankaraolgunlasma.meb.k12.tr/tema/icerikler/muze_2190474.html" target="_blank">http://ankaraolgunlasma.meb.k12.tr/tema/icerikler/muze_2190474.html</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>





<div class="d-flex justify-content-center">
    <img src="~/Müzeler/ANKARA SOMUT OLMAYAN.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA SOMUT OLMAYAN KÜLTÜREL MİRAS MÜZESİ</h2>
<p class="lead text-center">Gazi Üniversitesi Türk Halkbilimi öğretim üyelerinin özverili çalışmaları ve Ankara Kalkına Ajansı’nın maddi katkıları sonucu 15 Haziran 2013 tarihinde açılan müze, kendi alanında Türkiye’nin ilk müzesidir. Müze kuruluşuna, Kurucu Başkan Prof. Dr. M. Öcal Oğuz müzecilik ve halkbilim konularında deneyimlerini aktararak, Altındağ Belediye Başkanı Veysel Tiryaki de Ankara’nın Hamamönü semtindeki bir konağı Gazi Üniversitesi Türk Halkbilimi Araştırma ve Uygulama Merkezi’ne tahsis ederek katkı sağlamışlardır. Müze, temel olarak Ankara’yı “bürokrasi/memur kenti” görünümünden kurtararak kültür turizmi merkezlerinden biri haline getirmeye katkıda bulunmayı, tarihi ve kültürel değerleri ortaya çıkarmak için alan çalışmaları yapmayı ve bu çalışmalardan elde edilen verileri müzede uygulama modellerine dönüştürerek gelecek kuşaklara aktarımı sağlamayı hedefl emektedir. Müze’nin etkinlikleri ilin ilçe ve köylerinde yapılan araştırmalar sonucu elde edilen verilerin uygulamalı olarak sunulmasından oluşur. Karagöz- Hacivat, Orta Oyunu, Meddah Gösterileri, Köy Seyirlik Oyunları, Çocuk Oyunları müzenin sergilediği geleneksel oyunlar arasındadır. Ihlamur Baskı ve Ebru sanatı gibi el sanatları da müzenin etkinlikleri arasında yer alırlar. Ayrıca; Ankara Masalları, Türküleri, Hikâyeleri, Ninnileri, Manileri, Geleneksel Sohbet Toplantıları, temsili Kına Gecesi, Diş Hediği, Asker Kınası gibi birçok kültürel değer müzede uygulamalı olarak yaşatılmaktadır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.3289847103665!2d32.862259850839216!3d39.934030291228346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e5cdb1efd13%3A0x29bf86d332428b04!2sSomut%20Olmayan%20K%C3%BClt%C3%BCrel%20Miras%20M%C3%BCzesi!5e0!3m2!1str!2str!4v1735380674319!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Talatpaşa Bulv. Öz Sokak Altındağ</li>
                        <li><span style="color:#1560BD">Tel .:</span> 311 20 34</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Pazartesi hariç her gün</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> 09.00–18.00
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.kulturportali.gov.tr/turkiye/ankara/gezilecekyer/somut-olmayan-kulturel-mras-muzes" target="_blank">https://www.kulturportali.gov.tr/turkiye/ankara/gezilecekyer/somut-olmayan-kulturel-mras-muzes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/Müzeler/ziraatfakültesi müze ve kültürevi.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA ÜNİVERSİTESİ ZİRAAT FAKÜLTESİ MÜZESİ VE KÜLTÜR EVİ</h2>
<p class="lead text-center">
    2007 yılında açılan müze, 1892 yılında İstanbul ili Halkalı semtinde kurulan Ziraat Mektebi’nin 1898 yılında Ankara Kalaba semtinde açılan Çoban Mektebi’nin ve 30 Ekim 1933 tarihinde
    eğitim ve öğretime açılan Yüksek Ziraat Enstitüsü’nün izlerini taşır. Müze zemin katta iki kapalı salon ile üst katta yer alan 10 oda ve 1 koridordan oluşmaktadır. Bu salonlarda Türkiye’de tarım eğitiminin itici gücü olan Yüksek Ziraat Enstitüsü’nden günümüze değin uzanan bir süreçte kullanılmış olan özgün ders araç ve gereci, işlik ders ve deneyim aleti, türlü böcek örneği, yine türlü tarım araç gereci zaman-dizinsel olarak sergilenmektedir. Müze, Fakülte’de öğretim üyeliği yapmış eski akademisyenler ve diğer ilgili toplum kesimlerinden ve kişilerden bağışlanan çok değişik müzelik eşya ile giderek daha çok zenginleşmekte, ulusal düzeyde yalnızca akademik ilgilileri değil, halkın ilgisini de kendisine çekmektedir.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6116.169878728163!2d32.85652464729443!3d39.961853609438364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34dd1221fb30f%3A0x9dc32eec6e78ca7d!2sZiraat%20Fak%C3%BCltesi%20M%C3%BCzesi!5e0!3m2!1str!2str!4v1735380910680!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li>
                            <span style="color:#1560BD">Adres:</span> Ankara Üniversitesi Gümüş Dere Yerleşkesi -
                            Keçiören
                        </li>
                        <li><span style="color:#1560BD">Tel .:</span> 596 10 95</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Pazartesi – Çarşamba - Cuma</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> 10.00 - 16.00
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="http://agri.ankara.edu.tr/muze/" target="_blank">http://agri.ankara.edu.tr/muze/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/Müzeler/ankara üniversiteisi tarihi müze.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA ÜNİVERSİTESİ TARİHİ MÜZESİ</h2>
<p class="lead text-center">
    Türkiye Cumhuriyeti’nin İlk Üniversitesi olarak, Ülkenin sanatsal, kültürel ve bilimsel gelişimine  katkıda bulunan, kökleri çok derinlere uzanan  Ankara Üniversitesi’nin tarihsel serüveninin  kilometre taşlarının sergilendiği bir müzedir.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.291937842163!2d32.831286576495394!3d39.934859084826066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34edd70067b07%3A0xb2d8764a53ef0dfc!2sAnkara%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1735381165727!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span>Kesin Konum Olarak Konumu Yok.</li>
                        <li><span style="color:#1560BD">Mail :</span>ankara@ankara.edu.tr</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Pazartesi-Çarşamba-Cuma</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> 10.00-12.00 ile 14.00-16.00
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.ankara.edu.tr/ankara-universitesi-tarihi-muzesi/" target="_blank">https://www.ankara.edu.tr/ankara-universitesi-tarihi-muzesi/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>


<div class="d-flex justify-content-center">
    <img src="~/Müzeler/ataturk-orman-ciftligi-muzesi-60710.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ATATÜRK ORMAN ÇİFTLİĞİ MÜZESİ</h2>
<p class="lead text-center">Atatürk Orman Çiftliği Müzesi, Türkiye Cumhuriyeti’nin kurucusu Mustafa Kemal Atatürk’ün tarım ve modernleşme vizyonunu yansıtan önemli bir kültürel mekândır. 1925 yılında Atatürk’ün bizzat kurduğu çiftlik, modern tarım tekniklerinin uygulanması ve yaygınlaştırılması amacıyla örnek bir model olarak tasarlanmıştır. Müze, bu tarihî çiftlik içerisinde yer almakta olup, Atatürk’ün tarıma verdiği önemi ve çiftliğin gelişim sürecini anlatan değerli eserler sergilemektedir. Ziyaretçiler burada, Cumhuriyet’in erken dönemindeki üretim anlayışını, tarım makinelerini, arşiv belgelerini ve döneme ait fotoğrafları görme imkânı bulur. Müze aynı zamanda Atatürk’ün çiftlikte geçirdiği zamanları, tarıma yönelik projelerini ve çiftliğin dönemin ekonomik kalkınmasındaki rolünü gözler önüne sermektedir. Doğayla iç içe bir ortam sunan Atatürk Orman Çiftliği, tarihi ve kültürel mirasıyla ziyaretçilerine hem bilgilendirici hem de keyifli bir deneyim sunmaktadır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.8562677159057!2d32.794208999999995!3d39.9446046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d348d1c0240343%3A0xb63272af3da8d1dc!2sAtat%C3%BCrk%20Orman%20%C3%87iftli%C4%9Fi%20M%C3%BCze%20Ve%20Sergi%20Salonu!5e0!3m2!1str!2str!4v1735383612444!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Gazi, AOÇ Bal Fabrikası yanı, Cumhurbaşkanlığı Blv No:68, 06560 Yenimahalle/Ankara</li>
                        <li><span style="color:#1560BD">Tel .:</span> 03122110170</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Her gün</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> 09:00–17:00
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.aoc.gov.tr/Portal/Geziyerlerimiz/ataturk-orman-ciftligi-muze-ve-sergi-salonu/37" target="_blank">https://www.aoc.gov.tr/Portal/Geziyerlerimiz/ataturk-orman-ciftligi-muze-ve-sergi-salonu/37</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>



<div class="d-flex justify-content-center">
    <img src="~/Müzeler/ankara-kelime-muzesi-60712.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA KELİME MÜZESİ</h2>
<p class="lead text-center">Ankara Kelime Müzesi, kelimelerin gücünü ve dilin zenginliğini kutlayan eşsiz bir kültür ve sanat merkezidir. Müze, Türkçenin tarihi, gelişimi ve edebi birikimini ziyaretçilerine sunarak dilin kültürümüz üzerindeki derin etkisini keşfetmeyi amaçlar. Sergiler, kelimelerin etimolojisi, deyimlerin kökenleri ve dildeki dönüşümler gibi konuları ele alırken, interaktif bölümler ziyaretçilere aktif bir öğrenme deneyimi sunar. Şiir, hikâye ve sözlü anlatım örneklerinin sergilendiği bölümlerde, Türk edebiyatının önemli isimlerinin eserlerine yer verilir. Ayrıca, yaratıcı atölyeler ve etkinlikler aracılığıyla ziyaretçilerin kendi kelimelerini üretmeleri ve dil yolculuğuna katılmaları teşvik edilir. Müze, dil bilimi meraklıları, öğrenciler ve edebiyat severler için ilham verici bir ortam sağlarken, her yaştan insanın kelimelere olan bakışını derinleştirir. Ankara’nın kültürel kimliğine katkı sunan bu özgün mekân, dilin bir iletişim aracı olmanın ötesinde bir sanat ve ifade biçimi olduğunu hatırlatır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1668.0082806846485!2d32.86232118826028!3d39.93824432544035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f790df08f51%3A0x1adab333d22102bc!2sKelime%20M%C3%BCzesi!5e0!3m2!1str!2str!4v1735383815492!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Kale, Gözcü Sk. No:11, 06080 Altındağ/Ankara</li>
                        <li><span style="color:#1560BD">Tel .:</span> 0312 311 68 93</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Pazartesi günleri hariç her gün.</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> 10.00- 17.00
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>





<div class="d-flex justify-content-center">
    <img src="~/Müzeler/mta-35738.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">MTA TABİAT TARİHİ MÜZESİ</h2>
<p class="lead text-center">MTA Tabiat Tarihi Müzesi, Ankara’da yer alan ve doğanın milyonlarca yıllık tarihine ışık tutan Türkiye’nin ilk tabiat tarihi müzesidir. 1968 yılında kurulan müze, zengin fosil, mineral, kayaç ve jeolojik materyal koleksiyonuyla bilim meraklılarına ve doğaseverlere hitap eder. Sergi alanlarında, dinozor fosillerinden mamut iskeletlerine, volkanik kayaçlardan nadir minerallere kadar uzanan geniş bir yelpazede doğal zenginlikler sunulmaktadır. Müze, Türkiye’nin doğal tarihini ve jeolojik yapısını keşfetmek için etkileyici bir fırsat sunarken, bilimsel araştırmalar ve eğitim faaliyetlerine de ev sahipliği yapar. İnteraktif sergiler ve görsel sunumlarla ziyaretçilerine eğlenceli ve öğretici bir deneyim yaşatır. Ayrıca, Türkiye’nin yeraltı zenginliklerini ve maden kaynaklarını tanıtarak doğanın korunmasının önemine dikkat çeker. Doğal tarih meraklıları için eşsiz bir öğrenme merkezi olan MTA Tabiat Tarihi Müzesi, çocuklardan yetişkinlere kadar her yaştan ziyaretçiye doğanın büyüleyici hikâyesini anlatır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3060.742801241089!2d32.798554100000004!3d39.9023904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d346029f0b6e7b%3A0xdd8ebdee70de41da!2s%C5%9Eehit%20Cuma%20Da%C4%9F%20Tabiat%20Tarihi%20M%C3%BCzesi!5e0!3m2!1str!2str!4v1735384055970!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Çukurambar, Dumlupınar Blv. No:11, 06530 Çankaya/Ankara</li>
                        <li><span style="color:#1560BD">Tel .:</span> 0312 201 23 97</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Pazartesi günleri hariç her gün.</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> 09.00-16.00
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.mta.gov.tr/v3.0/muze/anasayfa" target="_blank">https://www.mta.gov.tr/v3.0/muze/anasayfa</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/Müzeler/beypazari-kent-tarihi-muzesi-60716.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">BEYPAZARI KENT TARİHİ MÜZESİ</h2>
<p class="lead text-center">eypazarı Kent Tarihi Müzesi, Ankara’nın tarihi ve kültürel zenginliklerini yansıtan Beypazarı ilçesinde yer alan önemli bir müzedir. Osmanlı dönemine ait restore edilmiş bir konakta hizmet veren müze, Beypazarı’nın binlerce yıllık geçmişini ve yaşam kültürünü ziyaretçilerine sunar. Sergi alanlarında, ilçenin tarihî süreçlerini anlatan belgeler, yöresel kıyafetler, el sanatları ve etnografik eserler sergilenmektedir. Müze, Beypazarı’nın eski ticaret yollarındaki stratejik konumunu ve bu durumun ekonomik ve kültürel yaşama etkilerini detaylıca gözler önüne serer. Geleneksel Beypazarı evlerinin maketleri, bölgenin mimari dokusunu anlamayı kolaylaştırırken, yöresel mutfak kültürüne ait sergiler de yerel lezzetlerin tarihçesini keşfetme imkânı sunar. İnteraktif bölümler ve rehberli turlar, hem eğitici hem de keyifli bir deneyim yaşatır. Beypazarı Kent Tarihi Müzesi, hem yerli hem yabancı ziyaretçiler için bölgenin kültürel kimliğini daha yakından tanıma fırsatı sunarken, geçmişten günümüze taşınan değerlerin korunmasına katkıda bulunmaktadır. İlçeye gelenlerin mutlaka görmesi gereken bu müze, tarih, kültür ve sanat meraklılarını büyüleyen bir cazibe merkezidir.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="ratio ratio-16x9">
                    <iframe src=""
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Rüstempaşa, Cumhuriyet Cd. no:79, 06730 Beypazarı/Ankara</li>
                        <li><span style="color:#1560BD">Açık bulunduğu günler :</span> Her gün açık.</li>
                        <li>
                            <span style="color:#1560BD">Açık bulunduğu saatler :</span> 09.00- 17.00
                        </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="http://www.beypazari.bel.tr/rehber-9-beypazari-kent-tarihi-muzesi.html" target="_blank">http://www.beypazari.bel.tr/rehber-9-beypazari-kent-tarihi-muzesi.html</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />