@{
}
<head>
    <style>
        .custom-image {
            width: 600px;
            height: auto;
        }

        .custom-map {
            width: 450px;
            height: 450px;
        }

        .hr-line {
            border-top: 3px solid #ddd;
            margin: 2rem 0;
            width: 80%;
            margin-bottom: 3rem;
            margin-top: 8rem;
        }

    </style>
</head>


<div class="d-flex justify-content-center">
    <img src="~/tarihiyerlerresimleri/anıtkabir.jpg">
</div>


<h2 class="fw-bold lead">Tarihçe</h2>
<p class="lead">
    Anıtkabir’in inşa edilmesi kararı, Atatürk’ün 10 Kasım 1938’de vefatının ardından alınmıştır. Dünyanın dört bir yanından gelen saygı ve sevgiyle, Atatürk için bir anıt mezar yapılması kararlaştırılmıştır.
    <ul>
        <li>Yarışma Süreci: 1941 yılında uluslararası bir proje yarışması düzenlenmiştir. 49 proje katılmış ve Alman mimar Prof. Dr. Johann Essberger ile Türk mimar Prof. Emin Onat ve Doç. Dr. Orhan Arda’nın tasarımı birinci olmuştur.</li>
        <li>İnşaat Süreci: 1944 yılında başlanan inşaat, dört aşamada tamamlanmış ve 1953 yılında Anıtkabir açılmıştır.</li>
    </ul>
</p>

<h2 class="fw-bold lead">Mimari Özellikler</h2>
<p class="lead">
    Anıtkabir, klasik ve modern mimarinin bir birleşimidir. Türk mimari geleneklerinden esinlenilmiş, aynı zamanda anıtsal bir sadelik tercih edilmiştir.
    Bölümleri:
    <ol>
        <li>
            Aslanlı Yol:
            Anıtkabir’e giriş yolu olan Aslanlı Yol, 262 metre uzunluğundadır. Yolun iki yanında yer alan 24 taş aslan, Türk mitolojisindeki gücü ve korumayı temsil eder.
        </li>

        <li>
            Tören Meydanı:
            15.000 kişilik kapasiteye sahip olan meydan, mozole öncesi en önemli alandır. Simetrik desenli taşlarla kaplıdır.
        </li>
        <li>
            Mozole:
            Atatürk’ün naaşının bulunduğu ana yapı olan Mozole, 42 ton ağırlığındaki taş bloklarla inşa edilmiştir. İçinde Atatürk’ün mermerden yapılmış lahdi bulunmaktadır. Naaşı ise lahitin tam altında özel bir bölümde toprakla temas halindedir.
        </li>
        <li>
            Müze ve Sergi Alanları:
            Atatürk’ün kişisel eşyaları, silahları, belgeler ve Nutuk’un orijinal nüshası gibi birçok tarihi eser burada sergilenmektedir.
        </li>
    </ol>
</p>

<h2 class="fw-bold lead">Anıtkabir'deki Semboller ve Anlamları</h2>
<p class="lead">
    Anıtkabir’in her bölümü, Türk tarihine, bağımsızlık mücadelesine ve Atatürk’ün ilkelerine dair sembollerle doludur.
    <ul>
        <li>
            Kuleler: Anıtkabir’in etrafında yer alan toplam 10 kule, Cumhuriyetin temel değerlerini simgeler. Örneğin, İstiklal Kulesi bağımsızlığı, Mehmetçik Kulesi Türk askerini temsil eder.
        </li>
        <li>
            Süslemeler ve Yazılar: Duvarlardaki kabartmalar, Kurtuluş Savaşı ve Cumhuriyet dönemi anlatımlarını içerir.
        </li>
    </ul>
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.7378461816215!2d32.837078600000005!3d39.92488249999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f190a9cea8f%3A0xd3862ea8248d08a0!2sAn%C4%B1tkabir!5e0!3m2!1str!2str!4v1735384455874!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="hr-line"></div>

<div class="d-flex justify-content-center">
    <img src="~/tarihiyerlerresimleri/augustus-tapinagi-35724.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">AUGUSTUS TAPINAĞI</h2>
<p class="lead text-center">Ankara Augustus Tapınağı, Roma Dönemi’nde Galatia eyaletinin Roma İmparatorluğu’na katılmasının ardından İmparator Augustus ve yerel tanrıça Roma’ya ithaf edilerek inşa edilmiş, Korinth düzeninde, pseudo-dipteral planlı önemli bir yapıdır. Tapınak, Bizans Dönemi’nde kiliseye dönüştürülmüş, Osmanlı Dönemi’nde ise kuzeybatısına Hacı Bayram Camii eklenmiştir. Bir dönem medrese olarak da kullanılan tapınak, pronaos, cella ve büyük kapı gibi bölümleriyle büyük oranda günümüze ulaşmıştır. Duvarlarında İmparator Augustus’un başarılarını anlatan çift dilli Res Gestae Divi Augusti yazıtları yer almakta olup, Roma’daki orijinal metnin korunmuş tek tam kopyasıdır. Bu yazıt, tarihçi Theodor Mommsen tarafından “Yazıtlar Kraliçesi” olarak adlandırılmış ve arkeolojik açıdan büyük bir önem taşımaktadır. Tapınak ve yazıtlar, Roma Dönemi’ne ışık tutan eşsiz bir tarihi ve kültürel mirastır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.8780141700117!2d32.8582255!3d39.9441182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e63edd9f049%3A0xbbd26ab1bfaebd3b!2zQXVndXN0dXMgVGFwxLFuYcSfxLE!5e0!3m2!1str!2str!4v1735384880037!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span>Hacı Bayram, 06030 Altındağ/Ankara</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>





<div class="d-flex justify-content-center">
    <img src="~/tarihiyerlerresimleri/haci-bayram-35707.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">HACI BAYRAM CAMİİ</h2>
<p class="lead text-center">Hacı Bayram Camii, Ankara’nın Ulus semtinde yer alan, tarihî ve manevi açıdan büyük öneme sahip bir ibadet ve kültür merkezidir. 15. yüzyılda, Türk mutasavvıf ve şair Hacı Bayram-ı Veli’nin çevresinde oluşan Bayramiye tarikatına ev sahipliği yapmak amacıyla inşa edilmiştir. Caminin mimarisi, Osmanlı klasik dönem özelliklerini yansıtırken, 18. ve 19. yüzyıllarda yapılan restorasyonlarla bugünkü görünümüne kavuşmuştur. İç mekânda yer alan ahşap işçiliği, kalem işleri ve çini süslemeleri, dönemin sanat anlayışını yansıtan detaylardır.</p>
<p class="lead text-center">Hemen yanında Hacı Bayram-ı Veli’nin türbesi bulunmakta olup, bu türbe hem yerli hem de yabancı ziyaretçilerin ilgisini çeker. Caminin bulunduğu tepe, binlerce yıllık bir ibadet alanıdır; Roma Dönemi’nden kalma Augustus Tapınağı’nın kalıntıları da bu bölgede yer almaktadır. Cami, tarih boyunca manevi bir merkez olmasının yanı sıra, şehrin sosyal ve kültürel hayatında da önemli bir yere sahiptir. Günümüzde Hacı Bayram Camii, hem ibadet etmek hem de Ankara’nın tarihi atmosferini hissetmek isteyen ziyaretçilerin uğrak noktalarından biridir. Restorasyon çalışmalarıyla korunmuş olan bu yapı, geçmişin ruhunu ve modern zamanların manevi huzurunu bir arada sunmaktadır. Ankara’nın kültürel kimliğinin bir parçası olan cami, hem mimarisi hem de taşıdığı manevi mirasla adeta bir tarih hazinesidir.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.8607073368007!2d32.8580019!3d39.9445053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e638e48c511%3A0x9b9e42e52b785e16!2zSGFjxLEgQmF5cmFtLcSxIFZlbMOuIENhbWlp!5e0!3m2!1str!2str!4v1735385279743!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres :</span> Hacı Bayram, Sarıbağ Sk. No:13, 06050 Altındağ/Ankara</li>
                        <li><span style="color:#1560BD">Tel .:</span> 0312 309 09 42</li>
                        <li><span style="color:#1560BD">İnternet Adresi :</span> <a href="https://hacibayram-iveli.com/" target="_blank">https://hacibayram-iveli.com/</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/tarihiyerlerresimleri/ankara-kalesi-169.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA KALESİ</h2>
<p class="lead text-center">
    Ankara Kalesi, şehrin tarihine tanıklık eden ve geçmişten günümüze uzanan en önemli simgelerden biridir. Başkentin Altındağ ilçesinde, stratejik bir tepe üzerinde yer alan kale, milattan önceki dönemlere kadar uzanan köklü bir geçmişe sahiptir. İlk olarak Frigler döneminde inşa edildiği düşünülen kale, Roma, Bizans, Selçuklu ve Osmanlı gibi birçok medeniyet tarafından onarılarak kullanılmıştır. Kale, iç ve dış surlardan oluşan iki ana bölümden meydana gelir. İç kale, tarihî Ankara evleri, Osmanlı dönemine ait camiler ve taş sokaklarıyla adeta bir açık hava müzesi niteliğindedir.
    <br />
    Kalenin surları, farklı dönemlerde eklenmiş taş ve tuğla katmanlarıyla mimari bir mozaik sunar. Şehrin bu yüksek noktasından, hem Ankara’nın modern yüzünü hem de tarihî dokusunu bir arada görmek mümkündür. Kale içindeki dar sokaklar ve restore edilmiş evler, ziyaretçilere geçmişin atmosferini yaşatır. Bölgede yer alan sanat galerileri, el sanatları atölyeleri ve geleneksel Türk mutfağını sunan restoranlar, kültürel bir deneyim için eşsiz bir ortam yaratır. Ayrıca, kale çevresindeki esnaf çarşıları, el yapımı hediyelik eşyaları ve yerel ürünleriyle ilgi çeker. Ankara Kalesi, hem yerli hem de yabancı ziyaretçiler için tarih, sanat ve kültürle iç içe bir deneyim sunar. Şehrin kalbinde, binlerce yıllık bir geçmişin izlerini taşıyan kale, Ankara’nın ruhunu keşfetmek isteyenler için vazgeçilmez bir duraktır.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.1052254982746!2d32.8654212!3d39.93903590000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e6f51a3317b%3A0x7415e004939401c0!2sAnkara%20Kalesi!5e0!3m2!1str!2str!4v1735385514813!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres :</span>Kale, 06240 Altındağ/Ankara</li>
                        <li><span style="color:#1560BD">Açık Olduğu Günler :</span> Her gün.</li>
                        <li><span style="color:#1560BD">Açık Olduğu Saatler :</span> 08:00–22:00</li>
                        <li><span style="color:#1560BD">İnternet Adresi :</span> <a href="http://www.ankarakalesi.com/" target="_blank">http://www.ankarakalesi.com/</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>





<div class="d-flex justify-content-center">
    <img src="~/tarihiyerlerresimleri/estargon-kalesi-44868.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ESTERGON KALESİ</h2>
<p class="lead text-center">
    Estergon Kalesi, Ankara’nın Keçiören ilçesinde yer alan, Türk ve Osmanlı kültürünü yansıtan tarihî ve kültürel bir simgedir. Macaristan’daki Estergon Kalesi’nden ilham alınarak inşa edilen bu yapı, modern bir yorumla geçmişin izlerini günümüze taşımaktadır. Kale, Selçuklu ve Osmanlı mimarisine özgü detaylarıyla dikkat çekerken, konumu itibarıyla Ankara’nın panoramik manzarasını izleme imkânı sunar. İçerisinde yer alan Türk Dünyası Müzesi, Türk-İslam tarihine ait eserler ve objelerle ziyaretçilere kültürel bir yolculuk sunar.
    <br />
    Kalenin mimarisinde kullanılan geleneksel motifler ve ince işçilik, Türk tarihinin zengin estetik anlayışını yansıtır. Ayrıca, kale içinde bulunan restoranlar ve kafeler, hem Türk mutfağının lezzetlerini tatmak hem de manzaranın keyfini çıkarmak için ideal bir ortam sunar. Çevresindeki yeşil alanlar ve parklar, ziyaretçilere doğayla iç içe bir dinlenme alanı sağlar. Estergon Kalesi, hem kültürel hem de sosyal etkinliklere ev sahipliği yaparak Ankara’nın önemli cazibe merkezlerinden biri haline gelmiştir. Ziyaretçilerine tarih, sanat ve doğanın bir arada olduğu unutulmaz bir deneyim sunan kale, özellikle fotoğraf tutkunları için büyüleyici bir mekândır. Türk-İslam kültürünü yaşatmayı amaçlayan bu özgün yapı, her yaştan ziyaretçinin ilgisini çekmektedir. Estergon Kalesi, Ankara’nın tarihî ve kültürel zenginliklerine katkı sunan özel bir mekândır.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3057.235899436096!2d32.86638889999999!3d39.98083329999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34dbabffb7b5d%3A0xbb5d4baf0522b429!2sEstergon%20Kalesi%20T%C3%BCrk%20K%C3%BClt%C3%BCr%20Merkezi!5e0!3m2!1str!2str!4v1735385910352!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres :</span> Güçlükaya Mh, Fatih Cd., 06280 Keçiören/Ankara</li>
                        <li><span style="color:#1560BD">Açık Olduğu Günler :</span>Her gün.</li>
                        <li><span style="color:#1560BD">Açık Olduğu :</span> 08:00–22:00</li>
                        <li><span style="color:#1560BD">Tel .:</span> 0 312 358 73 75</li>
                        <li><span style="color:#1560BD">İnternet Adresi :</span> <a href="http://www.kecioren.bel.tr/ESTERGON_TURK_KULTUR_MERKEZI-5-sosyal-tesis.html" target="_blank">http://www.kecioren.bel.tr/ESTERGON_TURK_KULTUR_MERKEZI-5-sosyal-tesis.html</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>






<div class="d-flex justify-content-center">
    <img src="~/tarihiyerlerresimleri/altinkoy-acik-hava-muzesi-40251.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ALTINKÖY</h2>
<p class="lead text-center">Altınköy Açık Hava Müzesi, Ankara’nın Altındağ ilçesinde yer alan ve geleneksel Türk köy yaşamını yaşatmayı amaçlayan benzersiz bir kültür alanıdır. Doğal bir vadide kurulan müze, geçmişteki köy hayatını tüm detaylarıyla yeniden canlandırarak ziyaretçilerine nostaljik bir yolculuk sunar. Müze, otantik köy evleri, değirmen, ahır, cami, köy okulu ve çeşitli tarım alanları gibi yapıların aslına uygun şekilde inşa edildiği bir alan üzerine kuruludur. Burada, geçmişte kullanılan tarım araçları, köy mutfağına özgü eşyalar ve el sanatları gibi unsurlar sergilenmektedir.</p>
<p class="lead text-center">Ziyaretçiler, müzede düzenlenen etkinlikler sayesinde eski köy yaşamını deneyimleme fırsatı bulabilir; un değirmeni çalıştırmak, hayvanlarla etkileşim kurmak ve köy fırınında ekmek yapımı gibi aktivitelere katılabilir. Müze, doğayla iç içe atmosferi ve yeşil alanlarıyla da dinlendirici bir ortam sunar. Şehir hayatının yoğun temposundan uzaklaşmak isteyenler için ideal bir kaçış noktası olan Altınköy, aynı zamanda çocuklar için eğitici ve eğlenceli bir mekândır. Ziyaretçiler, Anadolu’nun geçmiş kültürünü keşfederken, geleneksel yaşamın sürdürülebilirliğini öğrenme imkânı bulur. Altınköy Açık Hava Müzesi, tarih, kültür ve doğanın iç içe geçtiği eşsiz bir deneyim sunarak Ankara’nın önemli cazibe merkezlerinden biri haline gelmiştir.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3057.448313680832!2d32.95456897649691!3d39.97608563233998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e5cf5e4d1ed%3A0x37db3ade0379e282!2zQWx0xLFua8O2eSBBw6fEsWsgSGF2YSBNw7x6ZXNp!5e0!3m2!1str!2str!4v1735391846559!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres :</span> Beşikkaya, 2022. Sk, 06230 Altındağ/Ankara</li>
                        <li><span style="color:#1560BD">Tel .:</span> 0 501 704 73 29</li>
                        <li><span style="color:#1560BD">Açık Olduğu Günler :</span> Pazartesi hariç her gün açık.</li>
                        <li><span style="color:#1560BD">Açık Olduğu Saatler :</span> 10.00- 18.00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>





<div class="d-flex justify-content-center">
    <img src="~/tarihiyerlerresimleri/julianus-sutunu-40845.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">JULİANUS SÜTUNU</h2>
<p class="lead text-center">Julianus Sütunu, Ankara'nın Ulus semtinde, Roma İmparatoru Julianus (M.S. 361-363) tarafından M.S. 362 yılında yaptırılan anıtsal bir yapıdır. Sütun, Roma İmparatorluğu'nun gücünü ve ihtişamını simgeleyen önemli bir yapıt olarak günümüze kadar gelmiştir. Julianus Sütunu, dönemin Roma yapılarından izler taşır ve yapı, 18 metre yüksekliğiyle dikkat çeker. Sütunun alt kısmında, Roma dönemine ait Yunan alfabesiyle yazılmış bir yazıt bulunmaktadır. Bu yazıt, İmparator Julianus'un, Perslere karşı kazandığı zaferi ve halkına verdiği vaatleri içerir.</p>
<p class="lead text-center">Sütun, özellikle Roma ve Bizans dönemlerinin izlerini taşıyan önemli bir arkeolojik kalıntıdır. Yapının başlığı ise, zamanla kaybolmuş ve orijinal kısmı hakkında net bir bilgi bulunmamaktadır. Julianus Sütunu, tarihsel olarak önemli bir noktada yer aldığı için çevresinde birçok medeniyetin izlerini barındırır. Bugün, sütun etrafındaki alan, hem arkeologlar hem de tarih meraklıları için önemli bir araştırma ve ziyaret noktasıdır. Zaman içinde çeşitli onarımlar görse de sütun, Roma İmparatorluğu'nun görkemini yansıtan nadir yapıtlar arasında sayılmaktadır. Julianus Sütunu, sadece bir anıt değil, aynı zamanda bir tarih kitabı gibi Roma İmparatorluğu'nun politik ve askeri başarılarını anlatan bir belgedir.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.972378887241!2d32.84924539999999!3d39.94200749999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e8b35d24ec3%3A0x8cc890eb737a15dc!2zSsO8bGlhbiBTw7x0dW51!5e0!3m2!1str!2str!4v1735386398226!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres :</span>Anafartalar, 06050 Altındağ/Ankara</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>





<div class="d-flex justify-content-center">
    <img src="~/tarihiyerlerresimleri/ataturk-orman-ciftligi-23993.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ATATÜRK ORMAN ÇİFTLİĞİ</h2>
<p class="lead text-center">Atatürk Orman Çiftliği, Ankara'nın Başkent’ine yakın konumda yer alan ve Türk tarımının gelişimine katkıda bulunmuş tarihi bir alandır. 1925 yılında Mustafa Kemal Atatürk tarafından kurulan bu çiftlik, modern tarım tekniklerinin uygulanmaya başlandığı ilk yerlerden biri olmuştur. Çiftlik, süt ve et üretimi, sebze ve meyve yetiştiriciliği, ziraat mühendisliği ve hayvancılık gibi birçok alanda yenilikçi çalışmalar yaparak tarım alanında öncü olmuştur. Bugün, Atatürk Orman Çiftliği, sadece tarım ürünleri üretimiyle değil, aynı zamanda organik gıda üretimi ve eğitim faaliyetleriyle de dikkat çeker. Çiftlik, aynı zamanda ekolojik dengeyi koruma amacı güden bir alan olarak organik tarım yöntemleriyle de tanınır.</p>
<p class="lead text-center">Ziyaretçilerine taze ürünler, süt ve süt ürünleri sunan çiftlik, Ankara halkı için önemli bir tüketim merkezi olmuştur. Çiftlikte yer alan çiftlik evi ve müze, Atatürk’ün tarım politikaları ve çiftliğin tarihi hakkında bilgi veren mekanlar olarak önemli bir kültürel mirası temsil eder. Ayrıca, doğal yaşam alanları ve etrafındaki yeşil alanlar, çiftliğin ziyaretçilerine huzurlu bir ortam sunar. Atatürk Orman Çiftliği, çevre dostu üretim anlayışıyla tarıma dair birçok yeniliğin hayata geçirildiği bir merkez olarak, modern tarımın Türkiye'deki gelişimine katkı sağlamıştır. Bu çiftlik, hem tarım hem de çevre bilinci geliştirmek isteyenler için eşsiz bir ziyaret alanıdır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12235.106064653653!2d32.8047222!3d39.94638834999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d3492d892eb0a7%3A0xcd642e391b8ce82e!2sAtaturk%20Orman%20Ciftligi!5e0!3m2!1str!2str!4v1735386491208!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres :</span>Gazi, 06560 Yenimahalle/Ankara</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>





<div class="d-flex justify-content-center">
    <img src="~/tarihiyerlerresimleri/samanpazari-35736.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">SAMAN PAZARI</h2>
<p class="lead text-center">Samanpazarı, Ankara'nın tarihi merkezlerinden biri olarak, şehrin en eski ve en önemli çarşılarından birisidir. Ulus semtinde yer alan bu tarihi bölge, Osmanlı döneminden kalan geleneksel ticaret hayatını günümüze taşır. Samanpazarı, ismini, geçmişte saman ve diğer tarım ürünlerinin ticaretinin yapıldığı pazardan alır. Bugün ise, pek çok geleneksel el sanatı atölyesi, hediyelik eşya dükkânları ve nostaljik dükkanlarla doludur. Ayrıca, Samanpazarı’nda yer alan tarihi yapılar, bölgenin Osmanlı mimarisi ile bezeli sokaklarını gezmek isteyenler için harika bir fırsat sunar.</p>
<p class="lead text-center">Çarşıda dolaşırken, geleneksel Türk el sanatları, bakır işlemeciliği ve tekstil ürünleri gibi farklı zanaat dallarının örnekleriyle karşılaşmak mümkündür. Bölge, yerel halkın günlük yaşamını ve ticaretini gözlemlemek için ideal bir mekândır. Tarihî atmosferi, taş döşeli sokakları ve rengârenk dükkanlarıyla ziyaretçilerine adeta bir zaman yolculuğu yapma imkânı sunar. Samanpazarı, sadece alışveriş yapmak için değil, aynı zamanda Ankara’nın kültürel dokusunu keşfetmek isteyenler için önemli bir yerdir. Hem geleneksel hem de modern yapılarıyla şehre farklı bir soluk getiren bu çarşı, Ankara’nın tarihî zenginliğini ve kültürel çeşitliliğini yansıtan özel bir mekandır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1529.6635825266608!2d32.85976539839476!3d39.934071!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34ff308f01461%3A0x7cec5cb74364ffb6!2sSaman%20Pazar%C4%B1%20Meydan%C4%B1!5e0!3m2!1str!2str!4v1735386645764!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres :</span>Sakarya, Anafartalar Cd No:175, 06230 Altındağ/Ankara</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>





<div class="d-flex justify-content-center">
    <img src="~/tarihiyerlerresimleri/ahi-elvan-camii-60711.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">AHİ ELVAN CAMİİ</h2>
<p class="lead text-center">Ankara Ahi Elvan Camii, şehrin tarihi dokusunun önemli bir parçası olarak, Ahi Evran’ın takipçilerinin Anadolu’daki en eski ve en önemli camilerinden biridir. 14. yüzyılda, Selçuklu dönemi mimarisine özgü tarzda inşa edilmiştir ve Osmanlı İmparatorluğu döneminde de önemli bir dini merkez olmuştur. Camii, adını Ahi Elvan’dan alır, Ahi Elvan, Ahi teşkilatının önde gelen bir lideri ve halk arasında saygı gören bir figürdü. Yapının dış cephesi ve iç mekanındaki ince taş işçiliği, dönemin mimari anlayışını yansıtan örnekler sunar.</p>
<p class="lead text-center">Camiye girildiğinde, ahşap minberi, çini süslemeleri ve zarif kalem işleriyle bezeli tavanı dikkat çeker. Ahi Elvan Camii, hem mimari hem de dini açıdan büyük öneme sahiptir. Zaman içinde çeşitli onarımlar görmüş olsa da, orijinal yapısındaki estetik ve ruhu koruyarak günümüze ulaşmıştır. Caminin iç avlusu ve çevresi, dini ibadetlerin yanı sıra sosyal ve kültürel etkinliklere de ev sahipliği yapmıştır. Bugün hala aktif olarak kullanılan bu camii, hem tarih hem de inanç açısından başkent Ankara’nın önemli ibadet yerlerinden biridir.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1529.6174673950327!2d32.8635912!3d39.9361343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e5d405786e9%3A0x183cdabb59f756e1!2sAhielvan%20Cami!5e0!3m2!1str!2str!4v1735386777980!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres :</span>Necatibey Mh, 06240 Altındağ/Ankara</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>





<div class="d-flex justify-content-center">
    <img src="~/tarihiyerlerresimleri/mehmet-akif-evi-35727.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">HAMAMÖNÜ</h2>
<p class="lead text-center">Hamamönü, Ankara'nın tarihi dokusunu en iyi yansıtan semtlerinden biri olup, geleneksel Osmanlı mimarisinin izlerini günümüze taşır. Şehir merkezine oldukça yakın olan Hamamönü, özellikle restore edilen tarihi evleri ve dar sokaklarıyla dikkat çeker. Osmanlı döneminin sosyal hayatını gözler önüne seren bu bölgede, yokuşlu sokaklar ve rengarenk boyanmış ahşap evler, ziyaretçilere nostaljik bir atmosfer sunar. Adını, burada bulunan tarihi hamamlardan alan semt, geçmişte önemli bir ticaret merkezi olmuştur ve hala geleneksel el sanatları ile küçük dükkanlar bulunmaktadır.</p>
<p class="lead text-center">Hamamönü'nde, Osmanlı dönemi camileri, çeşmeleri ve konakları gibi birçok tarihi yapıyı görmek mümkündür. Ayrıca, bu semt, kültürel etkinlikler, el sanatları atölyeleri ve kafeleriyle de günümüzde canlı bir sosyal yaşam alanı haline gelmiştir. Hamamönü, geçmişin izlerini koruyarak modern yaşamla harmanlayan yapısı ve renkli çarşısıyla Ankara'nın en özel bölgelerinden biridir. Hem tarihî hem de kültürel açıdan önemli bir yer olan Hamamönü, şehri keşfetmek isteyenler için unutulmaz bir deneyim sunmaktadır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.4296449267563!2d32.866988!3d39.9317783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e437b54184b%3A0x2fc41aae5bc2045f!2sHamam%C3%B6n%C3%BC%20Tarihi%20Ankara%20Evleri!5e0!3m2!1str!2str!4v1735386895832!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres :</span>Hacettepe, Sarıkadı Sk. No:31, 06230 Altındağ/Ankara</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>





<div class="d-flex justify-content-center">
    <img src="~/tarihiyerlerresimleri/arslanhane-camii-60713.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ARSLANHANE CAMİİ</h2>
<p class="lead text-center">Arslanhane Camii, Ankara'nın tarihi dokusunu yansıtan en önemli camilerinden biridir ve şehre geleneksel Osmanlı mimarisinin güzel örneklerinden birini sunar. 13. yüzyılda, Selçuklu dönemi izleri taşıyan bu cami, Adalet ve Selçuklu hükümdarı I. Alaeddin Keykubad'ın vezirlerinden biri olan Arslan Bey tarafından yaptırılmıştır. Yapının adı da buradan gelmektedir. Arslanhane Camii, kare planlı bir yapıya sahip olup, ahşap tavanı ve taş işçiliğiyle dikkat çeker. Minberi ve mihrap gibi iç mekân unsurları da dönemin sanat anlayışını yansıtır.</p>
<p class="lead text-center">Cami, zaman içinde çeşitli restorasyonlar görmüş olsa da, orijinal yapısındaki mimari zarafetini korumuştur. Avlusundaki taş işçiliği ve kubbe detayları da ziyaretçilerin ilgisini çeker. Şehir merkezine yakın konumuyla, Arslanhane Camii, hem dini bir ibadet yeri olarak hem de tarihi bir yapı olarak büyük öneme sahiptir. Bugün hala aktif olarak kullanılan bu cami, hem yerel halk hem de turistler için önemli bir ibadet ve ziyaret yeridir.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.2081942898326!2d32.8652264!3d39.9367325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e6031b0389d%3A0xaa5e25f604e94065!2sAhi%20%C5%9Eerafettin%20(Aslanhane)%20Camii!5e0!3m2!1str!2str!4v1735387103673!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres :</span>Kale, 06240, Kale Sk., 06250 Ankara</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>





<div class="d-flex justify-content-center">
    <img src="~/tarihiyerlerresimleri/akkopru-35735.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">AKKÖPRÜ</h2>
<p class="lead text-center">Akköprü, Ankara'nın önemli tarihi köprülerinden biridir ve şehri tarihsel olarak önemli iki noktayı birbirine bağlayan önemli bir yapıdır. Adını, köprünün kemerlerinin beyaz taşlarla yapılmış olmasından alır. Osmanlı dönemi yapılarından biri olan Akköprü, 16. yüzyılda inşa edilmiştir ve dönemin mühendislik anlayışını yansıtan sağlam bir yapıdır. Köprü, zamanla çevresindeki kentsel gelişmelere rağmen, hala geçmişin izlerini taşır ve yerel halk için önemli bir ulaşım yolu olmuştur. Akköprü'nün tarihi dokusu, hem mimari hem de kültürel açıdan dikkat çekicidir, çünkü köprü, sadece bir ulaşım aracı değil, aynı zamanda o dönemin mühendislik ve inşaat sanatını da gözler önüne seren bir yapıdır. Bugün, Akköprü, Ankara'nın eski şehir yapısını ve Osmanlı dönemi mühendislik anlayışını keşfetmek isteyenler için önemli bir durak olmuştur.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24467.704542047366!2d32.7946348!3d39.9533984!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e9649c8f491%3A0xa5f2bb82276f3682!2zQWtrw7ZwcsO8!5e0!3m2!1str!2str!4v1735389812176!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres :</span>Varlık, Fatih Sultan Mehmet Blv, 06560 Yenimahalle/Ankara</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/tarihiyerlerresimleri/duatepe-36942.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">DUATEPE ANITI</h2>
<p class="lead text-center">Duatepe Anıtı, Ankara’nın Çankaya ilçesinde yer alan ve Türk Kurtuluş Savaşı’na dair önemli bir sembol olan anıttır. 1921 yılında inşa edilen bu anıt, Türk milletinin bağımsızlık mücadelesinde önemli bir yere sahip olan Duatepe’deki savaşın anısına yapılmıştır. Duatepe, özellikle 1921'deki Büyük Taarruz öncesinde, Türk ordusunun Yunan kuvvetlerine karşı büyük bir zafer kazandığı bir bölge olarak tarihe geçmiştir. Anıt, zaferin simgesi olarak, Türk milletinin direncini ve kahramanlığını yüceltmek amacıyla inşa edilmiştir.</p>
<p class="lead text-center">Duatepe Anıtı, özgürlük ve bağımsızlık mücadelesinin görkemli bir hatırlatıcısıdır ve üzerine yerleştirilen kabartmalarla, savaşın anlarını yansıtır. Anıtta yer alan figürler, Türk askerlerinin cesaretini ve kararlılığını simgelerken, ziyaretçilere o dönemin ruhunu ve tarihini hatırlatır. Yüksekliği ve görkemli yapısıyla, Ankara'nın önemli anıtlarından biri haline gelen Duatepe Anıtı, hem yerli hem yabancı turistler tarafından ilgiyle ziyaret edilmektedir. Anıt, Türk milletinin bağımsızlık için verdiği mücadelenin ve kazandığı zaferlerin hatırlatılması açısından büyük bir anlam taşır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3073.8949914668397!2d32.0633984!3d39.60704789999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d25c18563ed30f%3A0xc5b1693013c31834!2zRHVhdGVwZSBBbsSxdMSx!5e0!3m2!1str!2str!4v1735390108742!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres :</span> Merkez, Ankara Eskişehir Yolu, 06900 Polatlı/Ankara</li>
                        <li><span style="color:#1560BD">Açık Olduğu Saatler :</span> 09.00- 17.00</li>
                        <span style="color:#1560BD">İnternet Adresi :</span>
                        <a href="https://www.kulturportali.gov.tr/turkiye/ankara/gezilecekyer/duatepe-aniti" target="_blank">https://www.kulturportali.gov.tr/turkiye/ankara/gezilecekyer/duatepe-aniti</a>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/tarihiyerlerresimleri/kore-savas-aniti-44916.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">KORE SAVAŞI ANITI</h2>
<p class="lead text-center">Kore Savaşı Anıtı, Ankara'nın Çankaya ilçesinde, Kore Savaşı’na katılan Türk askerlerinin anısına inşa edilmiştir. 1950-1953 yılları arasında gerçekleşen Kore Savaşı’nda, Türkiye, Birleşmiş Milletler adına Güney Kore'nin savunulmasında yer alarak önemli bir askeri katkı sağlamıştır. Anıt, Türk askerlerinin Kore'deki kahramanlıklarını yüceltmek ve savaşın hatırasını yaşatmak amacıyla 1987 yılında yapılmıştır. Bu anıt, Türk milletinin uluslararası alanda üstlendiği sorumlulukları ve Kore’deki savaşa olan katkısını simgeler.</p>
<p class="lead text-center">Kore Savaşı Anıtı, üzerinde Türk askerlerinin çeşitli pozisyonlarda yer aldığı heykeller ve kabartmalarla süslenmiştir. Anıt, yalnızca bir askeri başarıyı değil, aynı zamanda Türk milletinin uluslararası barışa verdiği desteği de temsil eder. Ziyaretçilere, savaşın zorluklarını ve Türk askerlerinin bu zorluklara karşı gösterdiği direnci hatırlatan bir alan sunar. Kore Savaşı Anıtı, Türk-Kore dostluğunun sembollerinden biri olarak, her yıl düzenlenen törenlerle anılır ve Kore Savaşı'na katılan kahraman askerler anısına saygı duruşunda bulunulur. Bu anıt, hem Türk milletinin tarihindeki önemli bir dönüm noktasını hem de uluslararası dayanışmanın gücünü yansıtan değerli bir yapıdır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.1050958565825!2d32.84156000000001!3d39.939038800000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34eee044f4bc9%3A0x9250b62a29e9efe7!2zS29yZSdkZSBTYXZhxZ9hbiBUw7xya2xlciBBbsSxdMSx!5e0!3m2!1str!2str!4v1735390320247!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres :</span> Doğanbey Mh., 06250 Altındağ/Ankara</li>
                        <li><span style="color:#1560BD">Açık Olduğu Saatler :</span> 24  Saat Açık</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>



<div class="d-flex justify-content-center">
    <img src="~/tarihiyerlerresimleri/gavurkale-60714.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">GAVURKALE</h2>
<p class="lead text-center">Ankara'nın Altındağ ilçesinde yer alan Gavur Kale, şehrin en eski ve önemli tarihi bölgelerinden biridir. Roma dönemine ait olan bu kale, aynı zamanda şehrin surlarıyla çevrili bir bölgesi olarak da bilinir. Adını, Osmanlı dönemindeki halk arasında kullanılan "gavur" kelimesiyle ilişkilendirilen bölgeden alır ve çeşitli kaynaklarda farklı anlamlar taşır. Kalede, Roma, Bizans ve Osmanlı izlerinin bir arada görüldüğü kalıntılar yer almaktadır.</p>
<p class="lead text-center">Gavur Kale, geçmişte stratejik olarak önemli bir yerleşim yeri olmuştur ve farklı medeniyetler tarafından kullanılmıştır. Günümüzde bu kale, Ankara'nın tarihî dokusunu keşfetmek isteyenler için önemli bir ziyaret alanıdır. Yapının surları ve burçları, bölgedeki eski yaşamı ve savunma sistemlerini gözler önüne serer. Gavur Kale, aynı zamanda şehre hâkim bir tepe üzerinde bulunması nedeniyle ziyaretçilerine geniş bir manzara sunar ve tarihi atmosferiyle dikkat çeker. Bu alan, hem arkeolojik hem de kültürel açıdan büyük bir öneme sahip olup, Ankara'nın geçmişine dair derin bir iz bırakır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d18442.340689391043!2d32.53210539336499!3d39.53262182951679!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d3a7f4eabbf753%3A0xb63e23c805c71703!2zR2F2dXJrYWxlIEFuxLF0xLE!5e0!3m2!1str!2str!4v1735390922447!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres :</span>Polatlı Yolu Temelli Bucağı 1. Km., Temelli, Polatlı, Ankara</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/tarihiyerlerresimleri/beypazari-evleri-41064.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">BEYPAZARI</h2>
<p class="lead text-center">Beypazarı, Ankara'nın güneybatısında yer alan tarihi ve kültürel zenginlikleriyle ünlü bir ilçedir. Osmanlı döneminden günümüze kadar korunmuş olan geleneksel Türk mimarisi ile dikkat çeker; özellikle taş evleri, dar sokakları ve el yapımı çömlekleriyle ünlüdür. Beypazarı, aynı zamanda doğal güzellikleriyle de öne çıkar; çevresindeki vadiler ve dağlar, bölgeye özgü yeşil alanlar ve doğa yürüyüşü parkurlarıyla doğa severler için cazip bir destinasyon sunar.</p>
<p class="lead text-center">Beypazarı, mutfağıyla da tanınır; özellikle "Beypazarı kurusu" ve "Beypazarı tarhanası" gibi yöresel lezzetleriyle bilinir. Aynı zamanda, tarihi çarşıları, geleneksel el sanatları ve çeşitli festivalleriyle kültürel bir merkez haline gelmiştir. Yüzyıllardır süregelen zanaatkâr gelenekleri, çömlekçilik ve dokumacılık gibi iş kollarında hala yaşatılmaktadır. Beypazarı, ziyaretçilerine hem tarihi hem de kültürel bir yolculuk sunarken, aynı zamanda sakin ve huzurlu bir atmosferde dinlenme imkânı da tanır. Hem tarih meraklıları hem de doğa severler için eşsiz bir keşif alanıdır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24392.783392649548!2d31.92599455!3d40.1623734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d2b9ec61c2436f%3A0xdee880680184af30!2sBeypazar%C4%B1%2C%20Ankara!5e0!3m2!1str!2str!4v1735391463803!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br /><br />
