@{
}
<head>
    <style>
        .custom-image {
            width: 600px;
            height: auto;
        }

        .custom-map {
            width: 450px;
            height: 450px;
        }

        .hr-line {
            border-top: 3px solid #ddd;
            margin: 2rem 0;
            width: 80%;
            margin-bottom: 3rem;
            margin-top: 8rem;
        }

    </style>
</head>
<div class="d-flex justify-content-center">
    <img src="~/ulaşımfoto/ESENBOĞA.png" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ESENBOĞA HAVAALANI</h2>
<p class="lead text-center">Esenboğa Havalimanı, Ankara'nın şehir merkezinin yaklaşık 28 kilometre doğusunda, Polatlı ilçesi sınırlarında yer alan ve Türkiye'nin önemli uluslararası havalimanlarından biridir. 1955 yılında sivil uçuşlara açılan havalimanı, günümüzde modern terminal binası ve genişleyen altyapısıyla, hem yurt içi hem de yurt dışı uçuşlara hizmet vermektedir. Esenboğa Havalimanı, özellikle başkent Ankara'nın uluslararası ulaşımını sağlayan ana kapı olarak önemli bir rol oynamaktadır. Terminalde, yolculara konforlu bir bekleme alanı sunan restoranlar, alışveriş mağazaları, duty-free dükkânları ve diğer hizmetler bulunur.</p>
<p class="lead text-center">Yüksek yolcu kapasitesine sahip olan havalimanı, her yıl artan uçuş ve yolcu trafiğiyle gelişmeye devam etmektedir. Esenboğa Havalimanı, kara yoluyla da kolayca ulaşılabilir bir konumda olup, taksi, otobüs ve özel araçlarla şehir merkezine ulaşım sağlanabilir. Hem iş seyahati yapanlar hem de tatilciler için ideal bir ulaşım noktası olan Esenboğa, aynı zamanda Ankara'nın ekonomik ve kültürel bağlarını güçlendiren bir altyapıya sahiptir. Ulaşım, güvenlik ve modern hizmetleriyle Esenboğa, başkente gelen her ziyaretçiye önemli bir ulaşım kolaylığı sunar.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row d-flex align-items-start">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4571.679245978729!2d32.993910941919445!3d40.11488044106233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40820fdad0c982a9%3A0xf13ed2bab75c76d6!2sAnkara%20Esenbo%C4%9Fa%20Havaliman%C4%B1!5e0!3m2!1str!2str!4v1735394983567!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Esenboğa Merkez, Özal Bulvarı, 06750 Akyurt/Çubuk/Ankara</li>
                        <li><span style="color:#1560BD">Tel .:</span> 0 312 590 40 00</li>
                        <li><span style="color:#1560BD">İnternet Adresi :</span> <a href="http://www.esenbogaairport.com/" target="_blank">http://www.esenbogaairport.com/</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>



<div class="d-flex justify-content-center">
    <img src="~/ulaşımfoto/AŞTİ.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">A.Ş.T.İ.</h2>
<p class="lead text-center">AŞTİ (Ankara Şehirlerarası Terminal İşletmesi), başkent Ankara'nın en önemli ulaşım merkezlerinden biri olup, şehirlerarası otobüslerin merkezi kalkış ve varış noktasıdır. Ankara'nın Batıkent ilçesinde yer alan AŞTİ, modern yapısı ve geniş otobüs park alanıyla, hem yurt içi hem de yurt dışı seyahatler için önemli bir ulaşım noktasıdır. Terminal, günlük binlerce yolcuya hizmet verirken, otobüs seferleri için kolay ulaşım imkânları ve geniş otobüs peronları sunar. İçerisinde restoranlar, kafe ve mağazalar gibi çeşitli hizmetler de bulunmaktadır, bu sayede yolcular rahatlıkla dinlenip alışveriş yapabilirler.</p>
<p class="lead text-center">AŞTİ, Ankara'nın merkezi yerlerine kolay ulaşımı sağlayan otobüs, metro ve taksi seçenekleriyle ulaşım açısından son derece elverişlidir. Ayrıca, terminal, çeşitli otobüs firmalarına ait ofisler ve bilet satış noktaları ile yolcuların bilet alımlarını kolaylaştırır. Şehirlerarası yolculukların önemli bir başlangıç noktası olan AŞTİ, sadece ulaşım değil, aynı zamanda şehre gelen ziyaretçilere Ankara'nın sunduğu kültürel ve ticari imkânları tanıtma açısından da büyük bir rol oynamaktadır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row d-flex align-items-start">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1529.9993263770991!2d32.81006728896006!3d39.91904635000737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f6903192bb7%3A0x4476f2a2ee5b45dc!2zQcWeVMSwIEFua2FyYSDFnmVoaXJsZXJhcmFzxLEgT3RvYsO8cyBUZXJtaW5hbGk!5e0!3m2!1str!2str!4v1735395261642!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Beştepe, Mevlana Blv., 06560 Yenimahalle/Ankara</li>
                        <li><span style="color:#1560BD">Tel .:</span> 0 312 207 10 00</li>
                        <li><span style="color:#1560BD">İnternet Adresi :</span> <a href="http://www.asti.com.tr/" target="_blank">http://www.asti.com.tr/</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>





<div class="d-flex justify-content-center">
    <img src="~/ulaşımfoto/GARESKİ.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA GARI</h2>
<p class="lead text-center">Ankara'daki Eski Gar, şehrin tarihî ve kültürel mirasının önemli bir parçası olarak, Osmanlı dönemi sonlarından Cumhuriyet'in ilk yıllarına kadar önemli bir ulaşım noktası olmuştur. 1892 yılında inşa edilen gar binası, dönemin mimari anlayışını yansıtan etkileyici bir yapıya sahiptir ve zamanla şehre gelen ziyaretçiler için ilk izlenimi veren noktalardan biri olmuştur. Gar, Türk demiryolu taşımacılığının önemli bir merkezi olarak, hem ticaret hem de yolcu taşımacılığı açısından büyük bir rol oynamıştır.</p>
<p class="lead text-center">Cumhuriyet'in ilanıyla birlikte, Eski Gar, Ankara'nın büyüyen ulaşım altyapısının bir parçası olmuştur. 2016 yılında hizmet dışı kalan bina, zamanla restore edilerek çeşitli kültürel etkinlikler ve sergiler için kullanılmaya başlanmıştır. Eski Gar, şimdilerde hem tarihi dokusunu koruyan bir simge yapı olarak hem de sanat galerisi ve kültürel etkinlik alanı olarak şehre değer katmaktadır. Tarihi binanın etrafındaki çevre düzenlemeleri ile birlikte, ziyaretçilere nostaljik bir atmosfer sunan Eski Gar, Ankara'nın modern yüzü ile geçmişin izlerini birleştiren önemli bir mekan olmuştur.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row d-flex align-items-start">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.3181437892713!2d32.84347480844367!3d39.934272820255565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34fb44e1754e9%3A0xa229a89c04c4471!2sAnkara%20Tren%20Gar%C4%B1!5e0!3m2!1str!2str!4v1735395465006!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Doğanbey, Ankara Gar No:1, 06050 Altındağ/Ankara</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/ulaşımfoto/ANKARA GAR.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">YÜKSEK HIZLI TREN GARI</h2>
<p class="lead text-center">Ankara Yüksek Hızlı Tren (YHT) Garı, başkent Ankara'nın modern ulaşım altyapısının önemli bir parçası olup, şehrin ulaşım noktalarını birbirine bağlayan yüksek hızlı tren seferlerine ev sahipliği yapmaktadır. 2016 yılında hizmete giren gar, modern mimarisi ve geniş iç mekanlarıyla dikkat çeker. Eskişehir, Konya, İstanbul gibi büyük şehirlerle bağlantıyı sağlayan YHT Garı, hem başkentteki günlük yaşamı hem de bölgesel seyahati büyük ölçüde kolaylaştırmaktadır.</p>
<p class="lead text-center">Gar, modern teknolojilerle donatılmış olup, yolculara konforlu bir bekleme alanı, çeşitli alışveriş dükkanları, restoranlar ve kafe gibi hizmetler sunmaktadır. Aynı zamanda, otobüs terminali ve metro hatları ile entegre bir ulaşım ağına sahip olan YHT Garı, hem yerel hem de ulusal yolcular için büyük kolaylık sağlamaktadır. Başkente gelen ziyaretçiler için önemli bir ulaşım noktası olan gar, Ankara'nın ulaşım merkezlerinden biri haline gelmiş ve şehirdeki ulaşımı daha hızlı ve verimli kılmaktadır. Bu gar, hem ulaşım hem de mimari açıdan Ankara'nın gelişen yüzünü temsil eden önemli bir yapıdır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row d-flex align-items-start">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.3181437892713!2d32.84347480844367!3d39.934272820255565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34ef006391839%3A0x9e153a13a96241f0!2sAnkara%20YHT%20GARI!5e0!3m2!1str!2str!4v1735395674177!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Eti, Celal Bayar Blv. No:55, 06570 Çankaya/Ankara</li>
                        <li><span style="color:#1560BD">Tel .:</span> 444 8 233</li>
                        <li><span style="color:#1560BD">İnternet Adresi :</span> <a href="http://www.tcddtasimacilik.gov.tr/trenler/Y%C3%BCksek%20H%C4%B1zl%C4%B1%20Tren/1" target="_blank">http://www.tcddtasimacilik.gov.tr/trenler/Y%C3%BCksek%20H%C4%B1zl%C4%B1%20Tren/1</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>



<div class="d-flex justify-content-center">
    <img src="~/ulaşımfoto/EGO.png" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">EGO(HALK OTOBÜSÜ)</h2>
<p class="lead text-center">
    Ankara'da EGO (Elektrikli Hızlı Otobüs) toplu taşıma, başkentin ulaşımını düzenleyen ve büyük bir kolaylık sağlayan en önemli ulaşım sistemlerinden biridir. Ankara Büyükşehir Belediyesi tarafından işletilen EGO, otobüslerle şehri her yönüyle kapsayan geniş bir ulaşım ağı sunmaktadır. Bu otobüsler, hem şehir içi ulaşımı hem de banliyö hatlarındaki mesafeleri kısaltarak, hem yerel halkın hem de ziyaretçilerin hızlı ve konforlu bir şekilde seyahat etmelerini sağlar.

</p>
<p class="lead text-center">
    EGO otobüsleri, belirli güzergâhlarda düzenli seferler yaparak, şehrin ana arterlerine, toplu yerleşim alanlarına ve önemli noktalara ulaşım imkânı tanır. Aynı zamanda, EGO sistemine ait kartlı ödeme yöntemi, kullanıcıların seyahatlerini daha pratik hale getirir. Ayrıca, otobüslerin çevre dostu olması ve engelli erişimi gibi özellikleri, modern toplu taşımacılığın gereksinimlerini karşılamaktadır. EGO, ulaşımda önemli bir kolaylık sağlamakla kalmayıp, aynı zamanda trafik yoğunluğunu azaltarak başkentin ulaşım altyapısının verimli bir şekilde işlemesini sağlar. Bu bilgilerin hepsine EGO CEPTE uygulamasından ulaşabilirsiniz.
</p>
<ul class="list-unstyled">
    <li><span style="color:#1560BD">Adres:</span> Eti, Celal Bayar Blv. No:55, 06570 Çankaya/Ankara</li>
    <li><span style="color:#1560BD">Tel .:</span> 0312 306 84 00</li>
    <li><span style="color:#1560BD">İnternet Adresi :</span> <a href="https://play.google.com/store/apps/details?id=com.ego.android&pli=1" target="_blank">https://play.google.com/store/apps/details?id=com.ego.android&pli=1</a></li>
</ul>
<div class="hr-line"></div>



<div class="d-flex justify-content-center">
    <img src="~/ulaşımfoto/BANLİYÖTREN.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">BAŞKENTRAY</h2>
<p class="lead text-center">
    Başkentray, Ankara'nın şehir içi ulaşımını önemli ölçüde geliştiren bir demir yolu projesidir. 2016 yılında hizmete giren Başkentray, Ankara'nın merkezi ile banliyö bölgeleri arasındaki ulaşımı hızlı, güvenli ve konforlu hale getiren bir hattır. Bu sistem, özellikle günlük işe gidiş-gelişlerde yoğun bir şekilde kullanılan bir ulaşım aracı olmuştur. Başkentray, mevcut demir yolu hatları üzerine inşa edilen ve şehir içi taşımacılığı iyileştirmeyi amaçlayan modern bir projedir.
</p>
<p class="lead text-center">
    Ankara'nın şehir merkezi ile Sincan, Etimesgut, Mamak gibi ilçeleri arasında seferler düzenleyen Başkentray, şehri kuzey-güney doğrultusunda birbirine bağlayan önemli bir ulaşım aracıdır. Hem yerel halk hem de ziyaretçiler için pratik bir ulaşım olanağı sunan Başkentray, aynı zamanda çevre dostu ulaşım alternatiflerinden biri olarak öne çıkar. Başkentray, modern istasyonları, hızlı tren seferleri ve kesintisiz ulaşım imkânlarıyla, başkentin ulaşım altyapısını güçlendiren önemli bir projedir.
</p>
<ul class="list-unstyled">
    <li><span style="color:#1560BD">İnternet Adresi :</span> <a href="https://play.google.com/store/apps/details?id=com.ego.android&pli=1" target="_blank">https://play.google.com/store/apps/details?id=com.ego.android&pli=1</a></li>
</ul>
<div class="hr-line"></div>


<div class="d-flex justify-content-center">
    <img src="~/ulaşımfoto/METRORESİM.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA METROSU</h2>
<p class="lead text-center">
    Ankara Metrosu, başkent Ankara'nın ulaşım altyapısının önemli bir parçası olup, şehir içi taşımacılığı kolaylaştıran modern bir toplu taşıma sistemidir. 1997 yılında faaliyete geçen Ankara Metrosu, zamanla genişleyen hatlarıyla şehrin farklı bölgelerini birbirine bağlamaktadır. Başlangıçta sadece Kızılay- Batıkent hattı ile hizmet vermeye başlayan metro, bugün M1, M2, M3 ve M4 hatlarıyla, şehri doğudan batıya ve kuzeyden güneye bağlayan bir ağ oluşturmuştur. Bu sayede, günlük yaşamda trafikten kaçınmak isteyenler için hızlı ve güvenli bir ulaşım alternatifi sunar.

</p>
<p class="lead text-center">
    Ankara Metrosu, modern ve konforlu istasyonları, sık sefer aralıkları ve uygun fiyatlı bilet sistemiyle hem yerel halk hem de ziyaretçiler için pratik bir ulaşım olanağı sağlar. Ayrıca, metro istasyonları ve hatları, şehrin merkezi noktalarına ve önemli yerleşim alanlarına yakın konumlanarak, ulaşımda zaman kazancı sağlar. Çevre dostu olması ve trafik yoğunluğunu azaltması açısından da önemli bir rol oynayan Ankara Metrosu, şehre değer katan ve günlük hayatı kolaylaştıran bir ulaşım aracıdır.
</p>
<div class="d-flex justify-content-center">
    <img src="~/ulaşımfoto/Ankara_metro_haritasi.png" class="custom-image">
</div>
<div class="hr-line"></div>


<div class="d-flex justify-content-center">
    <img src="~/ulaşımfoto/ANKARAY.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARAY</h2>
<p class="lead text-center">
    Ankaray, Ankara'nın şehir içi toplu taşımacılığında önemli bir yer tutan hafif raylı sistemdir. 1996 yılında hizmete giren Ankaray, özellikle şehir merkezi ile batıdaki İvedik ve Söğütözü bölgeleri arasındaki ulaşımı kolaylaştırmak için tasarlanmıştır. Bu sistem, hızlı, güvenli ve konforlu ulaşım imkânı sunarak, başkentin yoğun trafiğinde önemli bir alternatif oluşturur. Ankaray, modern araçları ve geniş durak ağı ile yolcularına hem ekonomik hem de pratik bir ulaşım sağlar.

</p>
<p class="lead text-center">
    Ankaray, 8,5 kilometrelik bir güzergâh üzerinde, 11 istasyonla hizmet vermektedir. Şehir içindeki ana arterlere yakın konumlanan istasyonları, yolculara merkezi noktalara kolay erişim imkanı tanır. Ayrıca, Ankaray’ın metro ve diğer toplu taşıma sistemleriyle entegre bir şekilde çalışması, ulaşımda büyük kolaylık sağlar. Hem zaman hem de maliyet açısından verimli olan Ankaray, günlük ulaşımda hem başkentin sakinlerine hem de ziyaretçilere büyük kolaylık sunar.
</p>
<div class="hr-line"></div>


<div class="d-flex justify-content-center">
    <img src="~/ulaşımfoto/dolmuş.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">DOLMUŞLAR</h2>
<p class="lead text-center">
    Ankara'daki dolmuşlar, şehir içi ulaşımda önemli bir rol oynayan, hızlı ve esnek bir taşıma aracıdır. Dolmuşlar, belirli güzergâhlarda belirli duraklarda yolcu alıp bırakmak suretiyle, toplu taşımanın sunduğu avantajları daha kişisel ve hızlı bir şekilde sunar. Diğer toplu taşıma araçlarıyla karşılaştırıldığında, dolmuşlar genellikle daha sık ve direkt seferler düzenleyerek, kullanıcıların daha hızlı bir şekilde hedeflerine ulaşmalarını sağlar.

</p>
<p class="lead text-center">
    Ankara'nın geniş ulaşım ağı içinde dolmuşlar, otobüs ve metro hatlarının ulaşamadığı bölgelerde hizmet sunarak önemli bir eksikliği doldurur. Fakat, dolmuşların bazı olumsuz yönleri de vardır. Özellikle kalabalık saatlerde, dolmuşlar aşırı tıklım tıklım olabilir ve bu durum konforu azaltabilir. Ayrıca, dolmuşların sabit tarifeleri olmadığı için ücretler bazen değişkenlik gösterebilir. Yine de, dolmuşlar şehir içi ulaşımda pratik ve hızlı bir alternatif sunarak, birçok Ankaralı için vazgeçilmez bir ulaşım aracıdır.
</p>
<br />
<br />
<br />