@{
}
<head>
    <style>
        .custom-image {
            width: 600px;
            height: auto;
        }

        .custom-map {
            width: 450px;
            height: 450px;
        }

        .hr-line {
            border-top: 3px solid #ddd;
            margin: 2rem 0;
            width: 80%;
            margin-bottom: 3rem;
            margin-top: 8rem;
        }
    </style>
</head>
<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/bilim.JPG" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA BİLİM ÜNİVERSİTESİ</h2>
<p class="lead text-center">
    Türkiye'nin Ankara şehrinde bulunan bir vakıf üniversitedir. Türkiye Verimlilik Vakfı tarafından kurulmuş ve 17 Nisan 2020 tarih ve 31102 sayılı Resmi Gazete'de yayımlanarak fiili kuruluşunu tamamlamıştır.

    2021-22 eğitim-öğretim yılında 651 lisans, 57 yüksek lisans öğrencisi olarak toplamda 708 öğrenci öğrenim görmekteydi. 2022 yılı itibari ile üniversite kapsamında 6 profesör, 4 doçent, 48 doktor, 5 öğretim görevlisi ve 17 araştırma görevlisi olmak üzere toplam 80 akademik personel görev yapmaktaydı.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.7844678072875!2d32.84311377649485!3d39.9238392854902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d3499c9fb54279%3A0x8fe2231aa94d6a16!2sAnkara%20Bilim%20%C3%9Cniversitesi%20Maltepe%20Kamp%C3%BCs%C3%BC!5e0!3m2!1str!2str!4v1735398584233!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li>
                            <span style="color:#1560BD">Adres:</span> Maltepe Kampüsü
                            Maltepe Mahallesi Şehit Gönenç Caddesi No: 5 Çankaya Ankara
                        </li>
                        <li><span style="color:#1560BD">Tel .:</span> 444 22 28</li>
                        <li><span style="color:#1560BD">Mail :</span> info@ankarabilim.edu.tr</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://ankarabilim.edu.tr/" target="_blank">https://ankarabilim.edu.tr/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>


<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA HACI BAYRAM VELİ ÜNİVERSİTESİ</h2>
<p class="lead text-center">Ankara Hacı Bayram Veli Üniversitesi, 2018 yılında kurulan ve adını, şehrin önemli dini ve kültürel simgelerinden biri olan Hacı Bayram Veli'den alan bir devlet üniversitesidir. Üniversite, Ankara'nın merkezine yakın konumlanarak, öğrencilere hem eğitim hem de şehir yaşamı açısından avantajlar sunmaktadır. Modern kampüs altyapısı, geniş eğitim olanakları ve güçlü akademik kadrosuyla, Hacı Bayram Veli Üniversitesi, Türkiye’nin genç üniversitelerinden biri olarak hızla gelişmektedir.</p>
<p class="lead text-center">Üniversite, farklı disiplinlerdeki fakülteleri ve bölümleriyle öğrencilere geniş bir eğitim yelpazesi sunar. Sosyal bilimlerden fen bilimlerine kadar birçok alanda eğitim veren üniversite, öğrencilerin akademik gelişimlerinin yanı sıra sosyal ve kültürel etkinliklerle de donatılmalarını hedeflemektedir. Ayrıca, üniversitenin bünyesinde araştırma ve uygulama merkezleri de bulunmakta, öğrenciler ve akademisyenler için çeşitli projelerde yer alma imkânı sunulmaktadır. Hacı Bayram Veli Üniversitesi, gerek eğitim kalitesi gerekse de modern kampüsüyle, başkentteki önemli eğitim kurumlarından biri haline gelmiştir.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3060.0573490898364!2d32.840081976494666!3d39.91773278585814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f42a2b3cb4d%3A0xd37f76cb93a51a93!2zQW5rYXJhIEhhY8SxIEJheXJhbSBWZWxpIMOcbml2ZXJzaXRlc2kgUmVrdMO2cmzDvMSfw7w!5e0!3m2!1str!2str!4v1735399314841!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li>
                            <span style="color:#1560BD">Adres:</span>Yücetepe Mahallesi
                            85.Cadde No:8
                            Çankaya/ANKARA
                        </li>
                        <li><span style="color:#1560BD">Tel .:</span> +90 (312) 231 7360</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.hacibayram.edu.tr/" target="_blank">https://www.hacibayram.edu.tr/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>



<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/medipol.jpeg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA MEDİPOL ÜNİVERSİTESİ</h2>
<p class="lead text-center">Ankara Medipol Üniversitesi, 2018 yılında İstanbul Medipol Üniversitesi'nin bir uzantısı olarak kurulan ve sağlık, mühendislik, sosyal bilimler gibi farklı alanlarda eğitim veren bir yükseköğretim kurumudur. Üniversite, öğrencilerine modern bir eğitim anlayışıyla, kaliteli akademik kadro ve gelişmiş altyapı sunmaktadır. Sağlık bilimleri, mühendislik, işletme ve sosyal bilimler gibi geniş bir akademik yelpazeye sahip olan Ankara Medipol Üniversitesi, özellikle sağlık alanındaki güçlü eğitim programlarıyla dikkat çekmektedir.</p>
<p class="lead text-center">Üniversite, sağlık sektöründe teorik bilgilerin yanı sıra uygulamalı eğitim fırsatları sunarak, mezunlarını alanında donanımlı ve deneyimli bireyler olarak yetiştirmeyi hedefler. Ayrıca, öğrencilerine ulusal ve uluslararası düzeyde çeşitli staj ve işbirliği olanakları sunarak, mezuniyet sonrası kariyer süreçlerini destekler. Ankara Medipol Üniversitesi, öğrencilere modern eğitim olanakları ve güçlü bir akademik altyapı ile hem eğitim hem de sosyal yaşam açısından zengin bir deneyim sunmayı amaçlamaktadır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.252024719777!2d32.84290907649534!3d39.935751984772125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f344bac7d2b%3A0xe6e6907e384e6350!2sAnkara%20Medipol%20%C3%9Cniversitesi%20Merkez%20Kamp%C3%BCs!5e0!3m2!1str!2str!4v1735400570466!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Hacı Bayram Mah. Talatpaşa Bulvarı No: 4/1,  Altındağ, Ankara</li>
                        <li><span style="color:#1560BD">Tel .:</span> 444 20 10</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://ankaramedipol.edu.tr/" target="_blank">https://ankaramedipol.edu.tr/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>



<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/Ankara Müzik ve Güzel Sanatlar Üniversitesi.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA MÜZİK VE GÜZEL SANATLAR ÜNİVERSİTESİ</h2>
<p class="lead text-center">Ankara Müzik ve Güzel Sanatlar Üniversitesi, 2017 yılında kurulan ve Türkiye’nin sanata odaklanan ilk tematik devlet üniversitelerinden biridir. Üniversite, müzik, güzel sanatlar ve sahne sanatları gibi alanlarda eğitim vererek, sanatın her dalında uzman bireyler yetiştirmeyi hedeflemektedir. Başkent Ankara’nın kültürel ve sanatsal kimliğini destekleyen bu üniversite, hem ulusal hem de uluslararası düzeyde sanata katkı sağlama vizyonuna sahiptir.</p>
<p class="lead text-center">Üniversite bünyesinde, öğrencilere özgün bir eğitim ortamı sunan fakülteler, konservatuvarlar ve araştırma merkezleri bulunmaktadır. Modern kampüsü, donanımlı stüdyoları, performans salonları ve kütüphanesiyle, öğrencilerin yaratıcı çalışmalarını gerçekleştirmeleri için gereken her türlü altyapıyı sağlamaktadır. Eğitim programları, teorik bilgilerin yanı sıra uygulamalı dersler ve sanat etkinlikleriyle zenginleştirilmiştir. Ankara Müzik ve Güzel Sanatlar Üniversitesi, sanatı ve sanatçıyı merkeze alan yaklaşımıyla, Türkiye’nin sanat eğitimi alanında öncü kurumlarından biri olma yolunda hızla ilerlemektedir.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97895.91238039864!2d32.763083626555584!3d39.9358585333998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d345aeeff92017%3A0xab7a7073dfd1a7ca!2sAnkara%20M%C3%BCzik%20ve%20G%C3%BCzel%20Sanatlar%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1735400677990!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Turan Güneş Bulvarı Yukarı Dikmen Mahallesi, Neşet Ertaş Caddesi, No:4 06550 Oran Çankaya/ANKARA</li>
                        <li><span style="color:#1560BD">Tel .:</span> +90 312 486 03 86</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="iletisim@mgu.edu.tr" target="_blank">iletisim@mgu.edu.tr</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/Ankara Sosyal Bilimler Üniversitesi.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA SOSYAL BİLİMLER ÜNİVERSİTESİ</h2>
<p class="lead text-center">Ankara Müzik ve Güzel Sanatlar Üniversitesi, 2017 yılında kurulan ve Türkiye’nin sanata odaklanan ilk tematik devlet üniversitelerinden biridir. Üniversite, müzik, güzel sanatlar ve sahne sanatları gibi alanlarda eğitim vererek, sanatın her dalında uzman bireyler yetiştirmeyi hedeflemektedir. Başkent Ankara’nın kültürel ve sanatsal kimliğini destekleyen bu üniversite, hem ulusal hem de uluslararası düzeyde sanata katkı sağlama vizyonuna sahiptir.</p>
<p class="lead text-center">Üniversite bünyesinde, öğrencilere özgün bir eğitim ortamı sunan fakülteler, konservatuvarlar ve araştırma merkezleri bulunmaktadır. Modern kampüsü, donanımlı stüdyoları, performans salonları ve kütüphanesiyle, öğrencilerin yaratıcı çalışmalarını gerçekleştirmeleri için gereken her türlü altyapıyı sağlamaktadır. Eğitim programları, teorik bilgilerin yanı sıra uygulamalı dersler ve sanat etkinlikleriyle zenginleştirilmiştir. Ankara Müzik ve Güzel Sanatlar Üniversitesi, sanatı ve sanatçıyı merkeze alan yaklaşımıyla, Türkiye’nin sanat eğitimi alanında öncü kurumlarından biri olma yolunda hızla ilerlemektedir.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.948689322476!2d32.85310572649561!3d39.94253738436313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e61969b4835%3A0x30ca671714f28e36!2sAnkara%20Sosyal%20Bilimler%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1735400840345!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li>
                            <span style="color:#1560BD">Adres:</span> Hükümet Meydanı No: 2
                            06050 Ulus, Altındağ/ANKARA
                        </li>
                        <li><span style="color:#1560BD">Tel .:</span> +90 312 596 44 44 - 45</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.asbu.edu.tr/" target="_blank">https://www.asbu.edu.tr/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/Ankara Üniversitesi.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA ÜNİVERSİTESİ</h2>
<p class="lead text-center">Ankara Üniversitesi, Türkiye Cumhuriyeti’nin ilk üniversitesi olarak 1946 yılında kurulmuş ve eğitimde köklü bir geleneği temsil eden bir devlet üniversitesidir. Gazi Mustafa Kemal Atatürk’ün doğrudan talimatıyla, Cumhuriyetin temel değerlerini ve ideallerini desteklemek amacıyla kurulan bu üniversite, hem akademik hem de toplumsal alanda ülkenin gelişimine önemli katkılar sağlamaktadır. Ankara Üniversitesi, geniş bir yelpazede sunduğu lisans, yüksek lisans ve doktora programlarıyla Türkiye’nin en saygın eğitim kurumlarından biridir.</p>
<p class="lead text-center">
    AYBÜ, uluslararasılaşmaya büyük önem vererek, birçok yabancı uyruklu öğrenciye ev sahipliği yapmakta ve çift dilli eğitim imkanları sunmaktadır. Ankara’nın farklı noktalarına yayılan kampüsleri, modern altyapısı ve sosyal olanaklarıyla öğrencilere hem akademik hem de kişisel gelişim açısından ideal bir ortam sağlar. Tıp, mühendislik, sosyal bilimler, hukuk ve fen bilimleri gibi alanlarda güçlü programlara sahip olan üniversite, bilimsel araştırmalara ve yenilikçi projelere destek vererek, öğrencilerini geleceğe hazırlamaktadır. Ankara Yıldırım Beyazıt Üniversitesi, genç, dinamik yapısıyla eğitimde fark yaratmayı hedefleyen bir kurum olarak dikkat çekmektedir.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.291937842163!2d32.831286576495394!3d39.934859084826066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34edd70067b07%3A0xb2d8764a53ef0dfc!2sAnkara%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1735400956091!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Ankara Üniversitesi Rektörlüğü, Dögol Caddesi 06100 Beşevler / Ankara / Türkiye </li>
                        <li><span style="color:#1560BD">Tel .:</span> +90 (312) 2126040</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.ankara.edu.tr/" target="_blank">https://www.ankara.edu.tr/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/Ankara Yıldırım Beyazıt Üniversitesi.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ANKARA YILDIRIM BEYAZIT ÜNİVERSİTESİ</h2>
<p class="lead text-center">Ankara Yıldırım Beyazıt Üniversitesi (AYBÜ), 2010 yılında kurulan ve Türkiye’nin genç devlet üniversitelerinden biri olarak kısa sürede akademik başarılarıyla dikkat çeken bir yükseköğretim kurumudur. Üniversite, adını Osmanlı padişahı Yıldırım Beyazıt’tan alarak, köklü bir tarihsel mirası modern bir eğitim anlayışıyla birleştirmeyi amaçlamaktadır. Farklı alanlardaki fakülteleri, araştırma merkezleri ve uygulama birimleriyle, hem lisans hem de lisansüstü düzeyde geniş bir eğitim yelpazesi sunmaktadır.</p>
<p class="lead text-center">
    AYBÜ, uluslararasılaşmaya büyük önem vererek, birçok yabancı uyruklu öğrenciye ev sahipliği yapmakta ve çift dilli eğitim imkanları sunmaktadır. Ankara’nın farklı noktalarına yayılan kampüsleri, modern altyapısı ve sosyal olanaklarıyla öğrencilere hem akademik hem de kişisel gelişim açısından ideal bir ortam sağlar. Tıp, mühendislik, sosyal bilimler, hukuk ve fen bilimleri gibi alanlarda güçlü programlara sahip olan üniversite, bilimsel araştırmalara ve yenilikçi projelere destek vererek, öğrencilerini geleceğe hazırlamaktadır. Ankara Yıldırım Beyazıt Üniversitesi, genç, dinamik yapısıyla eğitimde fark yaratmayı hedefleyen bir kurum olarak dikkat çekmektedir.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48806.46949136815!2d32.86729334863281!3d40.133276099999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40820e133b8e4f87%3A0x2b3f1fce2117346c!2zQW5rYXJhIFnEsWxkxLFyxLFtIEJleWF6xLF0IMOcbml2ZXJzaXRlc2kgRXNlbmJvxJ9hIFllcmxlxZ9rZXNp!5e0!3m2!1str!2str!4v1735401299753!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Ankara Yıldırım Beyazıt Üniversitesi Esenboğa Külliyesi Esenboğa/ANKARA </li>
                        <li><span style="color:#1560BD">Tel .:</span> +90 312 906 1000</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://aybu.edu.tr/" target="_blank">https://aybu.edu.tr/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/tılım Üniversitesi.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ATILIM ÜNİVERSİTESİ</h2>
<p class="lead text-center">Atılım Üniversitesi, 1997 yılında Ankara’da kurulmuş, vakıf üniversitesi statüsünde eğitim veren prestijli bir yükseköğretim kurumudur. Kuruluşundan bu yana, öğrenci odaklı bir eğitim anlayışını benimseyen üniversite, akademik mükemmeliyet ve yenilikçi eğitim programlarıyla dikkat çekmektedir. Özellikle mühendislik, işletme, hukuk ve sağlık bilimleri gibi alanlarda sunduğu güçlü programlarla, öğrencilerini hem ulusal hem de uluslararası alanda başarılı bireyler olarak yetiştirmeyi hedefler.</p>
<p class="lead text-center">Üniversite, modern altyapıya sahip kampüsüyle, öğrencilere donanımlı derslikler, laboratuvarlar, kütüphaneler ve sosyal alanlar sunmaktadır. Ayrıca, araştırma ve geliştirme faaliyetlerine verdiği önemle, bilimsel çalışmalar için öğrencilerine ve akademisyenlerine geniş olanaklar sağlar. Atılım Üniversitesi, Erasmus ve diğer uluslararası işbirliği programları aracılığıyla öğrencilere farklı kültürlerde eğitim alma fırsatları tanımaktadır. Mezunlarının iş dünyasındaki başarısıyla da öne çıkan üniversite, öğrencilerine kaliteli bir akademik temel sunmanın yanı sıra sosyal, kültürel ve kariyer gelişimlerini destekleyen bir ortam sunar.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12256.97343353505!2d32.724500471721505!3d39.82396112455773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d3407d8c118cc7%3A0x384ab208be168a84!2zQXTEsWzEsW0gw5xuaXZlcnNpdGVzaQ!5e0!3m2!1str!2str!4v1735401362989!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span>  Kızılcaşar Mahallesi, İncek / Ankara / </li>
                        <li><span style="color:#1560BD">Tel .:</span> +90 (312) 586 80 00</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.atilim.edu.tr/tr" target="_blank">https://www.atilim.edu.tr/tr</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/Başkent Üniversitesi.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">BAŞKENT ÜNİVERSİTESİ</h2>
<p class="lead text-center">Başkent Üniversitesi, 1994 yılında Prof. Dr. Mehmet Haberal tarafından Ankara’da kurulmuş, Türkiye’nin önde gelen vakıf üniversitelerinden biridir. Eğitim, araştırma ve toplumsal katkıyı bir araya getiren üniversite, sağlık bilimleri başta olmak üzere, mühendislik, hukuk, sosyal bilimler, sanat ve tasarım gibi çeşitli alanlarda eğitim vermektedir. Kuruluş felsefesinde, bilime dayalı eğitim anlayışıyla ulusal ve uluslararası düzeyde donanımlı bireyler yetiştirmek yer alır.</p>
<p class="lead text-center">Üniversitenin modern kampüsü, donanımlı derslikler, laboratuvarlar, kütüphane ve araştırma merkezleriyle öğrencilere hem akademik hem de sosyal anlamda geniş olanaklar sunar. Başkent Üniversitesi ayrıca sağlık alanındaki güçlü altyapısıyla dikkat çeker; bünyesindeki hastaneler ve sağlık merkezleri, öğrencilere uygulamalı eğitim fırsatları sunmanın yanı sıra topluma da hizmet etmektedir. Erasmus ve diğer uluslararası işbirlikleriyle öğrencilere küresel bir vizyon kazandırmayı amaçlayan üniversite, bilimsel araştırmaları destekleyen yapısıyla akademik alanda önemli bir yere sahiptir. Başkent Üniversitesi, nitelikli mezunları ve çağdaş eğitim anlayışıyla Türkiye’nin önde gelen yükseköğretim kurumları arasında yer almaktadır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3061.399441957939!2d32.65179157649368!3d39.88768828766811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d3393901ffae4b%3A0x1575d53f930351b6!2sBa%C5%9Fkent%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1735401501477!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li>
                            <span style="color:#1560BD">Adres:</span> Bağlıca Kampüsü Fatih Sultan Mahallesi
                            Üniversite Caddesi No:42/1 TR 06790
                            Etimesgut Ankara
                        </li>
                        <li><span style="color:#1560BD">Tel .:</span> +90 312 246 66 66</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.baskent.edu.tr/tr/" target="_blank">https://www.baskent.edu.tr/tr/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/Çankaya Üniversitesi.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ÇANKAYA ÜNİVERSİTESİ</h2>
<p class="lead text-center">Başkent Üniversitesi, 1994 yılında Prof. Dr. Mehmet Haberal tarafından Ankara’da kurulmuş, Türkiye’nin önde gelen vakıf üniversitelerinden biridir. Eğitim, araştırma ve toplumsal katkıyı bir araya getiren üniversite, sağlık bilimleri başta olmak üzere, mühendislik, hukuk, sosyal bilimler, sanat ve tasarım gibi çeşitli alanlarda eğitim vermektedir. Kuruluş felsefesinde, bilime dayalı eğitim anlayışıyla ulusal ve uluslararası düzeyde donanımlı bireyler yetiştirmek yer alır.</p>
<p class="lead text-center">Üniversitenin modern kampüsü, donanımlı derslikler, laboratuvarlar, kütüphane ve araştırma merkezleriyle öğrencilere hem akademik hem de sosyal anlamda geniş olanaklar sunar. Başkent Üniversitesi ayrıca sağlık alanındaki güçlü altyapısıyla dikkat çeker; bünyesindeki hastaneler ve sağlık merkezleri, öğrencilere uygulamalı eğitim fırsatları sunmanın yanı sıra topluma da hizmet etmektedir. Erasmus ve diğer uluslararası işbirlikleriyle öğrencilere küresel bir vizyon kazandırmayı amaçlayan üniversite, bilimsel araştırmaları destekleyen yapısıyla akademik alanda önemli bir yere sahiptir. Başkent Üniversitesi, nitelikli mezunları ve çağdaş eğitim anlayışıyla Türkiye’nin önde gelen yükseköğretim kurumları arasında yer almaktadır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3064.4469385465904!2d32.561698176491106!3d39.81939599177783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d317c30f845953%3A0x5f3e95544c6eecc7!2s%C3%87ankaya%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1735401714646!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li>
                            <span style="color:#1560BD">Adres:</span> Eskişehir Yolu 29. Km.
                            Yukarıyurtçu Mahallesi
                            Mimar Sinan Caddesi No:4
                            06790, Etimesgut/ANKARA
                        </li>
                        <li><span style="color:#1560BD">Tel .:</span> 0 312 233 10 00</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="http://www.cankaya.edu.tr/" target="_blank">http://www.cankaya.edu.tr/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/Gazi Üniversitesi.jpeg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">GAZİ ÜNİVERSİTESİ</h2>
<p class="lead text-center">Gazi Üniversitesi, Türkiye’nin en köklü ve prestijli devlet üniversitelerinden biri olarak 1926 yılında Gazi Eğitim Enstitüsü adıyla kurulmuş, 1982 yılında üniversite statüsüne kavuşmuştur. Ankara merkezli üniversite, eğitimden mühendisliğe, tıptan güzel sanatlara kadar geniş bir akademik yelpazede eğitim veren çok sayıda fakülte, enstitü ve araştırma merkezine sahiptir. Türkiye’nin eğitim alanındaki öncülerinden biri olan Gazi Üniversitesi, özellikle öğretmen yetiştirme konusundaki başarısıyla tanınmaktadır.</p>
<p class="lead text-center">Modern kampüsleri, laboratuvarları, kütüphaneleri ve sosyal tesisleriyle öğrencilere hem akademik hem de sosyal açıdan zengin bir ortam sunmaktadır. Ulusal ve uluslararası düzeyde çok sayıda bilimsel araştırma ve projeye ev sahipliği yapan üniversite, öğrencilerinin akademik ve kariyer gelişimlerine büyük katkı sağlamaktadır. Erasmus ve diğer değişim programları aracılığıyla uluslararasılaşmaya önem veren Gazi Üniversitesi, mezunlarının dünya çapında başarı elde etmesini desteklemektedir. Eğitimde kalite, araştırmada yenilikçilik ve topluma katkı odaklı bir misyon benimseyen Gazi Üniversitesi, hem geçmişiyle hem de bugünkü faaliyetleriyle Türkiye’nin önde gelen üniversiteleri arasında yer almaktadır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12238.332626796113!2d32.82027642178213!3d39.9283436991944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34eda2bd572e3%3A0xc4944b9ae7b9927!2sGazi%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1735401829950!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Emniyet, Gazi Üniversitesi Rektörlüğü, Bandırma Cad. No:6/1, 06560 Yenimahalle/Ankara</li>
                        <li><span style="color:#1560BD">Tel .:</span> +90 312 202 20 00</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://gazi.edu.tr/" target="_blank">https://gazi.edu.tr/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/Hacettepe Üniversitesi.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">HACETTEPE ÜNİVERSİTESİ</h2>
<p class="lead text-center">Hacettepe Üniversitesi, 1967 yılında Ankara’da kurulan ve Türkiye’nin en prestijli devlet üniversitelerinden biri olarak tanınan bir yükseköğretim kurumudur. Akademik başarıları, araştırma odaklı yapısı ve nitelikli eğitimiyle ulusal ve uluslararası düzeyde büyük bir itibara sahiptir. Üniversite, sağlık bilimlerinden mühendisliğe, sosyal bilimlerden güzel sanatlara kadar geniş bir akademik yelpazede eğitim ve araştırma imkânları sunmaktadır. Özellikle sağlık alanındaki güçlü altyapısı ve Hacettepe Hastaneleri ile Türkiye’nin en önde gelen sağlık eğitim merkezlerinden biridir.</p>
<p class="lead text-center">Beytepe ve Sıhhiye olmak üzere iki ana kampüsü bulunan Hacettepe Üniversitesi, modern laboratuvarları, zengin kütüphaneleri ve sosyal tesisleriyle öğrencilere ideal bir akademik ve sosyal ortam sağlar. Bilimsel araştırmalara verdiği önemle, Türkiye’de pek çok yenilikçi projeye liderlik eden üniversite, uluslararası işbirlikleriyle de dünya çapında tanınmaktadır. Erasmus ve diğer öğrenci değişim programlarıyla, öğrencilerine küresel bir vizyon kazandırmayı amaçlamaktadır. Mezunlarının iş dünyasındaki başarılarıyla dikkat çeken Hacettepe Üniversitesi, "önce insan" ilkesiyle eğitimde kaliteyi ve bilimde öncülüğü hedeflemektedir.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2972.3905980601994!2d32.86010686726899!3d39.93046951385566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e5ae4a3fcd5%3A0x73a4a66ab8c35e6c!2sHacettepe%20%C3%9Cniversitesi%20T%C4%B1p%20Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1735401988481!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Hacettepe Üniversitesi Rektörlüğü Sıhhiye / ANKARA</li>
                        <li><span style="color:#1560BD">Tel .:</span> +90.312 305 50 00</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://hacettepe.edu.tr/" target="_blank">https://hacettepe.edu.tr/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/İhsan Doğramacı Bilkent Üniversitesi.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">BİLKENT ÜNİVERSİTESİ</h2>
<p class="lead text-center">Bilkent Üniversitesi, 1984 yılında Prof. Dr. İhsan Doğramacı tarafından Ankara’da kurulmuş, Türkiye’nin ilk vakıf üniversitesidir. Kuruluş amacı, dünya çapında tanınan bir eğitim ve araştırma merkezi olmaktır. Üniversite, mühendislik, fen bilimleri, sosyal bilimler, işletme, sanat, tasarım ve mimarlık gibi birçok alanda sunduğu lisans ve lisansüstü programlarla akademik mükemmeliyeti hedeflemektedir. Eğitim dili İngilizce olan Bilkent Üniversitesi, uluslararası öğrenci ve akademisyen sayısıyla da dikkat çeker.</p>
<p class="lead text-center">
    Modern kampüsü, ileri teknolojiye sahip laboratuvarları, zengin kütüphanesi ve sosyal olanaklarıyla öğrencilere hem akademik hem de kişisel gelişim için ideal bir ortam sağlar. Bilkent, araştırma odaklı yapısıyla Türkiye’nin en fazla bilimsel yayına sahip üniversiteleri arasında yer alır ve dünya üniversite sıralamalarında üst sıralarda bulunur. Erasmus ve diğer değişim programlarıyla öğrencilerine küresel fırsatlar sunan üniversite, mezunlarının ulusal ve uluslararası iş dünyasında elde ettiği başarılarla tanınmaktadır. Sanat ve kültür etkinlikleriyle de öne çıkan Bilkent, öğrencilere zengin bir üniversite deneyimi sunar. “Bilim Kenti” anlamına gelen ismiyle, hem akademik hem de toplumsal katkı sağlamayı sürdüren bir yükseköğretim kurumu olarak Türkiye’nin lider üniversiteleri arasındadır.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3062.277536629044!2d32.7473167764929!3d39.86802078885208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d347124abb0591%3A0x5ff5bbe4f3812e54!2sBilkent%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1735402158453!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li>
                            <span style="color:#1560BD">Adres:</span> Bilkent Üniversitesi
                            06800 Bilkent/Ankara/TÜRKİYE
                        </li>
                        <li><span style="color:#1560BD">Tel .:</span> +90-312-290-4000</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://w3.bilkent.edu.tr/www/" target="_blank"> https://w3.bilkent.edu.tr/www/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/Lokman Hekim Üniversitesi.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">LOKMAN HEKİM ÜNİVERSİTESİ</h2>
<p class="lead text-center">Lokman Hekim Üniversitesi, 2009 yılında Ankara’da kurulan, sağlık ve sağlık bilimleri alanlarına odaklanmış bir vakıf üniversitesidir. Adını, geleneksel tıbbın önemli simgelerinden biri olan Lokman Hekim’den alan üniversite, sağlık eğitimini modern tıp bilimiyle birleştirerek öğrencilere kapsamlı bir eğitim sunmayı hedeflemektedir. Üniversite, tıp, diş hekimliği, eczacılık, sağlık bilimleri ve sağlık yönetimi gibi alanlarda lisans ve lisansüstü programlarıyla eğitim vermektedir.</p>
<p class="lead text-center">Lokman Hekim Üniversitesi, öğrencilere akademik bilgiyle birlikte, uygulamalı eğitim fırsatları sunarak sağlık sektöründe liderlik yapacak profesyoneller yetiştirmeyi amaçlar. Üniversitenin sağlık alanındaki güçlü altyapısı ve modern tesisleri, öğrencilere teorik eğitim ile pratiği bir arada sunar. Araştırma ve geliştirme faaliyetlerine verdiği önemle, sağlık bilimleri alanında yenilikçi projelere imza atmaktadır. Öğrencilerine uluslararası eğitim fırsatları ve değişim programları sunan üniversite, sağlık alanındaki küresel gelişmeleri takip ederek öğrencilerini bu alanda en iyi şekilde yetiştirmektedir. Lokman Hekim Üniversitesi, eğitimde kaliteyi ön planda tutarak, geleceğin sağlık profesyonellerini yetiştirmeye devam etmektedir.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3060.2290880582646!2d32.78564747649451!3d39.91388923608982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d348b754f60429%3A0xca21eecb129e5ec9!2sLokman%20Hekim%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1735402315381!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Söğütözü, 2179. Sk. No:6, 06530 Çankaya/Ankara</li>
                        <li><span style="color:#1560BD">Tel .:</span> 444 8 548</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="http://www.lokmanhekim.edu.tr/" target="_blank">http://www.lokmanhekim.edu.tr/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/Orta Doğu Teknik Üniversitesi.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">ORTA DOĞU TEKNİK ÜNİVERSİTESİ</h2>
<p class="lead text-center">Orta Doğu Teknik Üniversitesi (ODTÜ), 1956 yılında Ankara’da kurulan, Türkiye’nin en köklü ve saygın devlet üniversitelerinden biridir. Eğitimde mükemmeliyet ve bilimsel araştırmalara verdiği önemin yanı sıra, ulusal ve uluslararası başarılarıyla tanınan bir yükseköğretim kurumudur. ODTÜ, mühendislik, fen bilimleri, sosyal bilimler, işletme, iktisat, mimarlık, sanat ve tasarım gibi geniş bir yelpazede eğitim sunmaktadır ve eğitim dili genellikle İngilizce'dir.</p>
<p class="lead text-center">
    ODTÜ, güçlü akademik kadrosu, modern kampüsleri, ileri teknolojiye sahip laboratuvarları ve zengin kütüphanesiyle öğrencilere mükemmel bir eğitim ortamı sağlar. Üniversite, araştırma ve geliştirmeye verdiği önemle, özellikle mühendislik ve teknoloji alanlarında dünya çapında projelere imza atmaktadır. Ayrıca, Erasmus ve diğer uluslararası işbirlikleri aracılığıyla öğrencilere küresel bir bakış açısı kazandırmayı hedefler. ODTÜ, mezunlarının ulusal ve uluslararası iş dünyasında üst düzey pozisyonlarda görev almalarıyla bilinir ve öğrencilere kariyer gelişimleri açısından büyük fırsatlar sunar. Sosyal ve kültürel etkinlikler, spor olanakları ve öğrenci kulüpleriyle zengin bir kampüs yaşamı sunan ODTÜ, aynı zamanda toplumsal sorumluluk projelerine de büyük önem verir. ODTÜ, akademik, kültürel ve bilimsel alanlarda Türkiye’nin en saygın üniversitelerinden biri olmayı sürdürmektedir.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24481.82012940821!2d32.76762285234167!3d39.91392441650161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d3463dbcf4588b%3A0x5553548a2edeaae6!2zT3J0YSBEb8SfdSBUZWtuaWsgw5xuaXZlcnNpdGVzaSBSZWt0w7ZybMO8ayBCaW5hc8Sx!5e0!3m2!1str!2str!4v1735402447504!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li>
                            <span style="color:#1560BD">Adres:</span> Orta Doğu Teknik Üniversitesi,
                            Üniversiteler Mahallesi,
                            Dumlupınar Bulvarı No:1
                            06800 Çankaya Ankara/TÜRKİYE
                        </li>
                        <li><span style="color:#1560BD">Tel .:</span> +90 312 210 2000</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.metu.edu.tr/tr/iletisim" target="_blank">https://www.metu.edu.tr/tr/iletisim</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/Ostim Teknik Üniversitesi.webp" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">OSTİM TEKNİK ÜNİVERSİTESİ</h2>
<p class="lead text-center">OSTİM Teknik Üniversitesi, 2017 yılında Ankara'da kurulan bir vakıf üniversitesidir ve özellikle mühendislik, teknoloji ve sanayi alanlarına odaklanan bir eğitim anlayışını benimsemiştir. Üniversite, adını Ankara'nın önemli sanayi bölgelerinden biri olan OSTİM'den alır ve bu bağlamda sanayi ile işbirliğini ön planda tutarak, öğrencilere hem teorik hem de uygulamalı eğitim fırsatları sunmaktadır. Üniversitenin amacı, öğrencilerini iş dünyasında başarılı olacak şekilde donanımlı hale getirmek, mühendislik ve teknolojinin çeşitli alanlarında yenilikçi çözümler üreten bireyler yetiştirmektir.</p>
<p class="lead text-center">
    OSTİM Teknik Üniversitesi, mühendislik fakülteleri başta olmak üzere, birçok teknik alanda güçlü akademik programlar sunar. Üniversite, sanayi ile yakın ilişkiler kurarak, öğrencilerine gerçek sektör deneyimleri kazandırmayı hedefler. Modern laboratuvarlar, atölyeler ve simülasyon olanakları ile öğrencilerine uygulamalı eğitim fırsatları sağlayan OSTİM Teknik Üniversitesi, aynı zamanda girişimcilik ve inovasyon konularında da aktif çalışmalar yürütmektedir. Öğrencilerine ulusal ve uluslararası düzeyde eğitim ve araştırma fırsatları tanıyan üniversite, sanayiye katkı sağlayacak projelerde yer almayı teşvik etmektedir. Ayrıca, üniversite, sürekli gelişim ve yenilikçi eğitim anlayışıyla, Türkiye'nin önemli teknik üniversitelerinden biri olmayı hedeflemektedir.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3057.7652561746027!2d32.7412061764965!3d39.969000782767225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d349a85971269f%3A0xebe064ffd651704!2sOstim%20Teknik%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1735402607419!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> OSTİM Teknik Üniversitesi, OSTİM 06374 Ankara </li>
                        <li><span style="color:#1560BD">Tel .:</span> +90 312 386 10 92 </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.ostimteknik.edu.tr/" target="_blank">https://www.ostimteknik.edu.tr/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/Yüksek İhtisas Üniversitesi.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">YÜKSEK İHTİSAS ÜNİVERSİTESİ</h2>
<p class="lead text-center">Yüksek İhtisas Üniversitesi, 2018 yılında Ankara’da kurulan bir vakıf üniversitesidir ve özellikle sağlık bilimleri alanında uzmanlaşmıştır. Üniversite, sağlık eğitimini modern tıp bilimiyle birleştirerek, öğrencilere sağlık sektöründe liderlik yapabilecek bilgi ve becerileri kazandırmayı amaçlar. Yüksek İhtisas Üniversitesi, tıp, diş hekimliği, eczacılık, sağlık yönetimi ve hemşirelik gibi alanlarda lisans ve lisansüstü programlar sunarak, geleceğin sağlık profesyonellerini yetiştirmeyi hedeflemektedir.</p>
<p class="lead text-center">
    Üniversite, sağlık alanındaki güçlü altyapısı, deneyimli akademik kadrosu ve uygulamalı eğitim olanakları ile dikkat çeker. Eğitimde kaliteyi ön planda tutarak, öğrencilere teorik bilginin yanı sıra, hastanelerde ve kliniklerde yapılan uygulamalarla deneyim kazandırır. Ayrıca, sağlık bilimleri ve tıp alanındaki araştırmalarla da önemli bir yer edinmeyi amaçlayan üniversite, sağlık sektöründeki yenilikçi projelere katkı sağlamaktadır. Öğrencilerine uluslararası eğitim fırsatları sunan Yüksek İhtisas Üniversitesi, sağlık sektöründe global düzeyde rekabet edebilecek bireyler yetiştirmeyi hedeflemektedir. Üniversite, aynı zamanda sağlık hizmetlerinin kalitesini artırmaya yönelik sosyal sorumluluk projeleriyle de toplum sağlığına katkıda bulunmaktadır.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97848.33578440243!2d32.661380727836416!3d39.9691072593916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d3460efb259a53%3A0x53fc0c65a354516d!2zWcOcS1NFSyDEsEhUxLBTQVMgw5xOxLBWRVJTxLBURVPEsA!5e0!3m2!1str!2str!4v1735402766567!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> İşçi Blokları Mahallesi 1505. Sk. No: 18/A 06530 </li>
                        <li><span style="color:#1560BD">Tel .:</span> +90 312 329 10 10 </li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://yuksekihtisasuniversitesi.edu.tr/" target="_blank">https://yuksekihtisasuniversitesi.edu.tr/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/ted.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">TED ÜNİVERSİTESİ</h2>
<p class="lead text-center">TED Üniversitesi, 2009 yılında Ankara'da kurulan bir vakıf üniversitesidir ve Türkiye'nin önde gelen eğitim kurumlarından biri olan TED Koleji'nin bir devamı olarak yükseköğretim alanında faaliyet göstermektedir. TED Üniversitesi, güçlü akademik kadrosu, çağdaş eğitim anlayışı ve uluslararası standartlarda eğitim programlarıyla dikkat çeker. Üniversite, mühendislik, işletme, iktisat, sosyal bilimler, fen-edebiyat ve sanat gibi farklı alanlarda lisans ve lisansüstü programlar sunmaktadır.</p>
<p class="lead text-center">TED Üniversitesi, öğrencilere sadece akademik bilgi sunmakla kalmaz, aynı zamanda onları gelecekteki kariyerlerinde başarılı olmaları için gerekli beceri ve yetkinliklerle donatır. Eğitim dili İngilizce olan üniversite, öğrencilere küresel bir bakış açısı kazandırmayı hedefler ve uluslararası değişim programlarıyla dünya çapında eğitim fırsatları sunar. Üniversite, modern kampüsleri, ileri teknolojiye sahip laboratuvarları, zengin kütüphanesi ve sosyal tesisleri ile öğrencilere kapsamlı bir üniversite deneyimi sağlar. TED Üniversitesi, aynı zamanda araştırma ve geliştirme faaliyetlerine büyük önem vererek, öğrencilere bilimsel araştırmalarda yer alma fırsatları sunmaktadır. Mezunları, geniş bir iş ağı ve güçlü bir eğitim altyapısı ile Türkiye’de ve dünya genelinde başarılı kariyerlere imza atmaktadır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.8297739135314!2d32.85928397649477!3d39.92282548555122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e53cc243af7%3A0xafa8419945f5d098!2sTED%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1735402919351!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li>
                            <span style="color:#1560BD">Adres:</span> Ziya Gökalp Caddesi No:48 06420,
                            Kolej Çankaya ANKARA
                        </li>
                        <li><span style="color:#1560BD">Tel .:</span> +90 (312) 585 0000</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.tedu.edu.tr/" target="_blank">https://www.tedu.edu.tr/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/TOBB Ekonomi ve Teknoloji Üniversitesi.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">TOBB ÜNİVERSİTESİ</h2>
<p class="lead text-center">TOBB Ekonomi ve Teknoloji Üniversitesi (TOBB ETÜ), 2003 yılında Türkiye Odalar ve Borsalar Birliği (TOBB) tarafından kurulan, Ankara'da yer alan bir vakıf üniversitesidir. Üniversite, özellikle ekonomi, teknoloji, mühendislik ve işletme alanlarında kaliteli eğitim ve araştırma imkânları sunarak, öğrencilerini global iş dünyasında başarılı olabilecek şekilde yetiştirmeyi amaçlar. Eğitim dili İngilizce olan TOBB ETÜ, uluslararası düzeyde tanınan akademik programları ve güçlü öğretim kadrosu ile dikkat çeker.</p>
<p class="lead text-center">Üniversite, geniş bir disiplin yelpazesi sunarak öğrencilere farklı alanlarda derinlemesine bilgi sahibi olma fırsatı tanır. Mühendislik, ekonomi, işletme, hukuk, sağlık bilimleri, sosyal bilimler gibi birçok alanda lisans ve lisansüstü programlar sunar. Öğrencilerine sadece teorik bilgi değil, aynı zamanda pratik deneyim kazandırmak için çeşitli staj ve işbirliği imkânları da sağlar. Modern kampüsü, araştırma merkezleri ve zengin kütüphanesi ile öğrencilerin akademik gelişimlerini destekler. TOBB ETÜ, girişimcilik ve inovasyon odaklı bir eğitim anlayışı benimseyerek, öğrencilerini iş dünyası ile entegre hale getirmeyi amaçlar. Uluslararası bağlantıları ve değişim programları ile küresel bir perspektif sunan üniversite, mezunlarını hem Türkiye'de hem de yurt dışında yüksek başarılarla iş dünyasında yer edinmeye hazırlamaktadır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.9030401453892!2d32.79573587649485!3d39.921185985650084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d348b7e9f733ab%3A0xdf1bcdf3b364e3d8!2sTOBB%20Ekonomi%20ve%20Teknoloji%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1735403042952!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Söğütözü Caddesi No:43, Söğütözü, Ankara, 06560 Türkiye</li>
                        <li><span style="color:#1560BD">Tel .:</span> +90 (312) 292-4000</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="" target="_blank"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>




<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/Türk Hava Kurumu Üniversitesi.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">TÜRK HAVA KUVVETLERİ ÜNİVERSİTESİ</h2>
<p class="lead text-center">Türk Hava Kurumu Üniversitesi (THK Üniversitesi), 2011 yılında Ankara’da kurulan ve Türkiye’nin en köklü sivil havacılık kuruluşlarından biri olan Türk Hava Kurumu tarafından kurulan bir vakıf üniversitesidir. Üniversite, sivil havacılık ve havacılık teknolojileri alanındaki eğitim ve araştırmalarıyla ön plana çıkmaktadır. THK Üniversitesi, havacılıkla ilgili mühendislik, pilotaj, hava trafik yönetimi, sivil havacılık, uçak bakım ve benzeri alanlarda lisans ve lisansüstü programlar sunmaktadır.</p>
<p class="lead text-center">Üniversite, havacılık sektörüyle doğrudan ilişkili bir eğitim yaklaşımını benimseyerek, öğrencilere bu alandaki ulusal ve uluslararası gelişmeleri takip edebilmeleri için kapsamlı bir akademik altyapı sunmaktadır. THK Üniversitesi, öğrencilerine teorik bilgilerin yanı sıra, pratik deneyim kazandırmaya yönelik uygulamalı eğitim olanakları da sağlamaktadır. Havacılık alanındaki güçlü akademik kadrosu ve sektörel işbirlikleri ile eğitimde kaliteyi artırmayı hedefler. Ayrıca, üniversite bünyesinde bulunan modern uçuş okulu, laboratuvarlar ve simülasyon sistemleri, öğrencilerin havacılık alanındaki bilgi ve becerilerini geliştirmelerine olanak tanır.</p>
<p class="lead text-center">
    Türk Hava Kurumu Üniversitesi, aynı zamanda sosyal sorumluluk projeleri, öğrenci kulüpleri ve çeşitli kültürel etkinliklerle öğrencilerine zengin bir kampüs yaşamı sunmaktadır. Üniversite, mezunlarını havacılık sektöründe lider konumlarda yer alacak şekilde yetiştirmeyi amaçlamaktadır ve Türk havacılık endüstrisinin gelişimine katkı sağlamayı hedefler.
</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48940.90924306208!2d32.6106984486328!3d39.94571039999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d33857b5746abf%3A0x10a63e5540fe5567!2sT%C3%BCrk%20Hava%20Kurumu%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1735403142065!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Bahçekapı, Okul Sk. No:11, 06790 Etimesgut/Ankara</li>
                        <li><span style="color:#1560BD">Tel .:</span> 444 8 458</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="http://www.thk.edu.tr/" target="_blank">http://www.thk.edu.tr/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="hr-line"></div>





<div class="d-flex justify-content-center">
    <img src="~/üniversitefoto/Ufuk Üniversitesi.jpg" class="custom-image">
</div>
<h2 class="fw-bold lead text-center" style="color:#1560BD">UFUK ÜNİVERSİTESİ</h2>
<p class="lead text-center">Ufuk Üniversitesi, 2009 yılında Ankara’da kurulan bir vakıf üniversitesidir. Üniversite, akademik mükemmeliyetin yanı sıra öğrencilere güçlü bir toplumsal sorumluluk bilinci kazandırmayı amaçlayan bir eğitim anlayışı benimsemiştir. Ufuk Üniversitesi, mühendislik, fen bilimleri, sağlık bilimleri, işletme, hukuk, sosyal bilimler gibi çeşitli alanlarda lisans ve lisansüstü programları sunarak, öğrencilere geniş bir eğitim yelpazesi sunar.</p>
<p class="lead text-center">Üniversite, modern eğitim yöntemleriyle donatılmış sınıflar, laboratuvarlar, araştırma merkezleri ve sosyal olanaklarla öğrencilere kaliteli bir eğitim ortamı sunar. Ufuk Üniversitesi, öğrencilerine sadece akademik bilgi sağlamakla kalmaz, aynı zamanda onları iş dünyasında başarılı olabilecek şekilde yetiştirmeyi hedefler. Üniversite, uluslararası değişim programları, staj olanakları ve sektörle işbirlikleri ile öğrencilerine küresel bir bakış açısı kazandırmaya çalışır. Mezunlarına geniş kariyer fırsatları sunarak, ülkemizde ve dünyada tanınan bir üniversite olma yolunda ilerlemektedir. Ufuk Üniversitesi, öğrenci odaklı eğitim anlayışı, dinamik akademik kadrosu ve modern altyapısıyla, geleceğin liderlerini yetiştirmeyi amaçlamaktadır.</p>
<section id="map-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3064.1268433223927!2d32.72714887649143!3d39.826573691346056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d3409a0a2b8633%3A0x425e316f85cdfac9!2sUfuk%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1735403284961!5m2!1str!2str"
                            style="border:0;"
                            allowfullscreen="yes"
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                            class="custom-map">
                    </iframe>
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div>
                    <ul class="list-unstyled">
                        <li><span style="color:#1560BD">Adres:</span> Ahlatlıbel, İncek Şht. Savcı Mehmet Selim Kiraz Blv No : 129, 06805 Gölbaşı/Ankara/TÜRKİYE</li>
                        <li><span style="color:#1560BD">Tel .:</span> +90 (312) 586 70 00</li>
                        <li>
                            <span style="color:#1560BD">İnternet Adresi :</span> <a href="https://www.ufuk.edu.tr/" target="_blank">https://www.ufuk.edu.tr/</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>